[2019-07-15 14:23] jennlove-um opened #579 "Assignment Planning - Week view is not defaulting to current week"
In the Assignment Planning view, the visualization on the bottom half of the screen is supposed to center on the current week, displaying the week label in orange.  The UI is not doing this.  It is not centering on the current week, and it is not displaying that week in a different color.

[2019-07-15 14:24] jennlove-um opened #580 "Grade Distribution: Remove the extra lines from the overview information display"
On the Grade Distribution page, remove the lines for the part of the page that shows the number of participants, average grade, and student grade.  The extra lines add unnecessary clutter to the display.

[2019-07-15 17:39] jonespm opened #584 "Test Issue"
This is a test issue.

[2019-07-15 17:40] #584 closed

[2019-07-15 18:07] #575 closed

[2019-07-15 19:23] pushyamig commented on #573
After merging the PR associated with the issue `closing the issue` will be a good reminder that it is ready for testing.  We have Webhooks established on Dev/test instance of myla that will trigger new build/deployment.

Closing the issue will put the issue in the `Review/Qa` column on Github Project board and once testing passes Manually Dropping to `Done` column indicates that issue is resolved

[2019-07-15 21:18] justin0022 commented on #577
Hi @jennlove-um, I'm unable to reproduce this issue. If you could share a screen recording of the problem, I'd be happy to look into it further!

[2019-07-16 11:34] #580 closed

[2019-07-16 14:15] jennlove-um commented on #577
![MyLA_577_GIF](https://user-images.githubusercontent.com/39634416/61301786-a07bdc80-a7b2-11e9-86ee-22a75e9749d1.gif)

[2019-07-16 14:16] jennlove-um commented on #577
@justin0022   I uploaded a GIF that shows the flickering.  It's most reproducible when I use the week sliders.  In this case, I change the start week from 1 to 7.  The results flicker and reload several times.

[2019-07-16 15:22] jonespm opened #589 "Switch wait-port over to netcat"
Wait port isn't working with some npm change, we really don't need it can can just switch to netcat

[2019-07-16 15:43] justin0022 commented on #577
Thanks Jenn! I'll look into it.

[2019-07-16 16:49] #574 closed

[2019-07-16 16:58] justin0022 opened #592 "Files Accessed bug when window slider on right is fully collapsed"
<img width="1913" alt="Screen Shot 2019-07-16 at 9 57 00 AM" src="https://user-images.githubusercontent.com/8836578/61313879-37936500-a7b0-11e9-98b9-dadcc3e88288.png">

[2019-07-16 20:15] justin0022 commented on #577
I'm going to hold off on this issue until https://github.com/tl-its-umich-edu/my-learning-analytics/pull/565 gets merged, since there'll be lots of merge conflicts.

[2019-07-16 20:15] justin0022 commented on #592
I'm going to hold off on this issue until https://github.com/tl-its-umich-edu/my-learning-analytics/pull/565 gets merged, since there'll be lots of merge conflicts.

[2019-07-16 20:39] #361 closed

[2019-07-16 20:40] justin0022 commented on #136
I believe with the new React front-end this issue is resolved.

[2019-07-16 20:40] #136 closed

[2019-07-16 23:08] #304 closed

[2019-07-17 20:59] jonespm opened #598 "Files branch needs to retrieve data from Canvas"
With the new changes to the files branch, the file names coming back from canvas is just "attachment". This change is going to retrieve the correct names from Canvas after getting all of the caliper events, which should be correct for other events now.

[2019-07-18 12:25] pushyamig commented on #578
Well, this bug is encountering when Assignment with weights associated in a group that is hidden in a group. The problem is encountered due to all the assignment id's are now integers instead of strings and when assignments are hidden in a group( as we intended to show the assignments in a group worth such and such % ) assignment id's are null.

Technical details internally Pandas Dataframe defaul

[2019-07-18 18:22] justin0022 commented on #566
Could you check again with the latest code from the master branch? I'm unable to reproduce on my end.

[2019-07-18 18:25] justin0022 commented on #576
I haven't been able to reproduce this on my end. If you have the chance to share a GIF with me I'd appreciate it!

[2019-07-18 21:13] justin0022 commented on #541
I'll take this on after https://github.com/tl-its-umich-edu/my-learning-analytics/pull/600 is merged.

[2019-07-18 21:16] justin0022 commented on #530
Since the API endpoints are fetched using relative URLs, I think this can be closed.

[2019-07-18 21:16] #530 closed

[2019-07-19 12:48] jonespm commented on #530
Yeah, I think the only reason this would be needed is if we had a the frontend running separate from the back, but that really doesn't seem necessary in this application and would just be more complicated anyway.

[2019-07-19 12:52] pushyamig commented on #552
Testing: inserting multiple users flow
Just select a user of your choice like `select * From user where sis_name='dssss';`
Have an insert command
`insert into user values(null,17700000000111111, 'Test user', 01111311, 'dssss, 1770000000011333, 89.8,90,'StudentEnrollment'`

Delete the row afterword by the id of the rows `delete from user where id = 1223`

[2019-07-19 16:42] #543 closed

[2019-07-19 16:50] #552 closed

[2019-07-19 21:04] justin0022 opened #601 "Files view scroll is backwards"
Is the backwards scroll intentional?

[2019-07-19 21:05] justin0022 opened #602 "Files view bars are quite large by default"
![Screen Shot 2019-07-19 at 2 05 03 PM](https://user-images.githubusercontent.com/8836578/61565561-412a0080-aa2e-11e9-9d9f-03f778e8e26b.png)
We should set a maximum height for the bars so they don't take up quite so much space.

[2019-07-19 21:48] justin0022 opened #604 "Changes to README file"
The existing README file provides an overview for setting up the project, but doesn't really show its features.

Perhaps we can move the existing README file to the `wiki` or some other setup file, and use the README to explain what it is we're trying to accomplish, with some screenshots and have a link to the [documentation](https://sites.google.com/umich.edu/my-learning-analytics-help/home) and

[2019-07-20 16:26] jonespm commented on #604
Yeah redoing all of the documentation as you mention would be something that would be really nice to do just often hard to get time for. The existing docs might be out of date and are only updated whenever someone new comes along and lets us know about a problem.

[2019-07-22 11:35] pushyamig commented on #541
@jennlove-um does this setting needs to be persisted in the DB? as files and assignment view has their setting

[2019-07-22 12:09] jonespm commented on #541
I'd think it should be. We may need to start to think about a separate preferences page to have all user adjustable settings visible in one place.

[2019-07-22 12:48] vjcao commented on #566
I think master might've fixed it. I am unable to reproduce the bug now. I will close this issue.

[2019-07-22 12:48] #566 closed

[2019-07-22 13:26] jennlove-um commented on #541
I agree.  It should work like other student preference settings.  They should be able to turn it on or off and have it persist for the course.  Thinking ahead, this one we may want to allow students to set globally for all their courses so that they can set it once for all courses or set it differently for individual courses.

[2019-07-22 13:31] jonespm commented on #541
Yeah sounds good. This is why I think we might have to move toward a preference page. There you could set global defaults and also see site specific overrides. Could mock that up for Winter. But for now I think persisting at the site level would be fine.

[2019-07-22 14:38] pushyamig commented on #541
I think For now I agree for course level default having a preference page by click on the Avator model they could set the assignment/files/grades.
I think this default info can be added to the  course info `/info` endpoint or have a separate endpoint which we have already but currently getting based on the file/assignment type `get_user_default_selection`
we can generalize this look like this
{"fi

[2019-07-22 16:45] justin0022 commented on #604
Okay I'll try to draft something up

[2019-07-26 13:53] jennlove-um commented on #309
I'm concerned about student privacy with this one.  If we allow instructors to view as an individual student, then they can see which files the student has or hasn't viewed.  That information feels important for instructors to have at the aggregate level, but not at the individual student level.

[2019-07-26 14:23] jonespm commented on #309
This is also not something that Canvas allows an instructor to do. They can do a generic "student view" but not view a specific student. I'm not sure how a generic student view would differ much from a generic instructor view of a course. I have the same concerns as Jennifer, it seems like there's good reason they can't act as someone individually.

[2019-07-29 12:00] pushyamig opened #611 "Resource Accessed:Add default msg when course only have Files data"
When a course only has files ( and not video) data then the user needs to alluded with a message “you are viewing Files data”.

[2019-07-29 12:00] pushyamig commented on #611
@jennlove-um Please update message with appropriate wording.

[2019-07-29 15:21] jonespm opened #613 "Can't change course id in Courses admin"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
When I change the ID in the courses admin for a course, it should change the ID

## Describe the bug (Tell us what happens instead of the expec

[2019-07-29 15:55] jonespm opened #614 "manage_ptvsd not correctly waiting for attach"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
When I set PTVSD_WAIT_FOR_ATTACH=False when running the manage_ptvsd.py script it shouldn't wait, but it is.

## Describe the bug (Tell us what

[2019-07-29 17:39] jennlove-um commented on #309
I'm going to close this issue as something we're not going to do for now.  We know we want the instructor to be able to view the dashboard visualizations, but we don't want them to be able to "become user" to be a student in their courses.

[2019-07-29 17:39] #309 closed

[2019-07-29 17:40] jennlove-um commented on #255
At this point, this seems unnecessary.  We can reopen the issue if we identify a use case where this is needed.

[2019-07-29 17:40] #255 closed

[2019-07-29 18:57] jonespm commented on #554
This is being resolved in the files-develop branch

[2019-07-29 18:57] #554 closed

[2019-07-31 14:03] jonespm opened #618 "Provide a way for admins to trigger the job to run"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
We'd like a way for admins to be able to trigger forcing the job to run from the UI

## Describe the solution you'd like
I was thinking about a defining a config variable that would point to a URL. This could trigger something external like Jenkins (the way we'll probably be running crons) or possibly

[2019-07-31 15:10] #532 closed

[2019-07-31 15:10] #402 closed

[2019-07-31 15:10] #598 closed

[2019-07-31 16:30] #614 closed

[2019-07-31 16:32] #541 closed

[2019-07-31 16:32] #611 closed

[2019-07-31 16:36] pushyamig commented on #407
This is resolved with this PR https://github.com/tl-its-umich-edu/my-learning-analytics/commit/8405cd2beedc70e168484683909c9846996b0f99. I am closing this

[2019-07-31 16:36] #407 closed

[2019-07-31 16:38] pushyamig commented on #491
This is scheduled to start from Aug 14 and testing will continue for a couple of weeks

[2019-07-31 16:40] pushyamig commented on #490
This is pretty much close to being done, Test/Dev instances are setup. The only thing remaining is the Prod instance, DB instance is created and should be estimated to be done end of this week or next week

[2019-07-31 16:42] pushyamig commented on #343
I removed Daniel as assignee and I suppose this is still not done

[2019-07-31 19:20] jonespm opened #619 "resource_type is marked as primary key but doesn't need to be"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
The field resource_type is marked as a primary key in the model. I don't see why this is a primary key

## Describe the bug (Tell us what happe

[2019-07-31 20:44] pushyamig commented on #578
Test Plan: The baseline is needed to show the same graded and ungraded assignment in the UI as in DB.

Pick a course that has a weighted assignment group with all assignments in that group are hidden in the group as we do show hidden assignment group weight in the tabular column with titled "place holder assignment" since Canvas show weighted assignment group to students.
Use the below query to va

[2019-07-31 20:55] #578 closed

[2019-07-31 22:59] justin0022 commented on #564
@pushyamig for work on this view, could we create a branch in this repository? That way anyone who is interested in MyLA would have greater visibility into the progress of the Discussion view.

[2019-07-31 23:06] justin0022 opened #622 "[Discussion View] Modify cron and design discussion table"
Pull data from  discussion_entry_dim and discussion_topic_dim into discussion table.

[2019-07-31 23:08] justin0022 opened #623 "[Discussion View] Implement GraphQL layer"
[GraphQL](https://graphql.org) will reduce data payload and number of queries, and make it easier to support the [Discussion view](#564) and future views.

[2019-07-31 23:12] justin0022 opened #624 "[Discussion View] Select NLP technique/package"
In the [initial proposal](#564) latent semantic analysis is mentioned, but that's just one of many potential techniques for measuring the coherence of text. We should experiment and select the most appropriate package/technique, preferably implemented in Python for ease of integration into the existing tech stack.

[2019-07-31 23:15] justin0022 opened #625 "[Discussion View] Design front-end view based on feedback from UM"
There was some very useful feedback from our meeting (UBC and UM) on 2019-07-15. Namely:

* Review colour coding
  - It’s not clear if shades of blue refer to frequency of using the keyword or coherence
  - The lighter colours indicate the keywords that require most attention, whereas the darker colours indicate the keywords that require the least attention. Should this be reversed?
* Review overa

[2019-08-01 12:44] pushyamig commented on #564
Yes, you can. I suggest that having a separate Project board for the Discussion view issue so that way all your issue goes in that bucket. Currently, they all going in the default bucket `MyLA-Default-Project`

[2019-08-01 20:08] pushyamig opened #628 "Grade Distribution: Don't show My grades info in the left tabular along with Grade line."
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
The Grades view currently shows student grade info in the side table, `MyGrade`  info should be displayed when the student enables to show the

[2019-08-01 20:08] pushyamig commented on #628
Assigning this to @ssciolla for getting started with Myla project.

[2019-08-02 19:25] jennlove-um commented on #578
Testing passed with the specified course.  Graded assignments showed up with the correct grades for the students tested.  The placeholder assignments for the weighted assignment groups also showed up correctly.

[2019-08-02 20:00] jennlove-um commented on #343
This is not done yet, and we should spend some time figuring out how to address this.  I think we should still look at pulling in the override term dates from Canvas courses.  Then we use those dates if they are there and use the regular term dates if there is no override.

[2019-08-02 20:06] jennlove-um commented on #548
Testing passes in terms of feature parity and basic functionality.

[2019-08-02 20:06] #548 closed

[2019-08-02 20:12] jonespm commented on #343
I'll assign @ssciolla to this for now. I can talk about this next week. I agree that we should pull the terms (if not set) and overrides from Canvas and use those.

[2019-08-02 20:21] jonespm commented on #622
I created a label to be used for these.

[2019-08-02 20:23] jonespm commented on #281
This is working

[2019-08-02 20:23] #281 closed

[2019-08-02 21:08] ssciolla commented on #628
@pushyamig I made some progress on this today; see [recent commit](https://github.com/ssciolla/my-learning-analytics/commit/ca7c11582b0216f64b8160faeadcddd19b01eb87) in the issue branch of my fork. Color has been changed, and the My grade row of the table now toggles on and off with the grade line.

I did some research on changing the default, but that seems to get into back end operations (I spok

[2019-08-02 21:22] justin0022 commented on #628
Nice @ssciolla, your recent commit looks good to me.

[2019-08-02 22:14] justin0022 opened #631 "Internal server error for Resource Accessed view"
## Expected behavior (A clear and concise description of what you expected to happen) :
Data for files accessed view should be fetched.

## Describe the bug (Tell us what happens instead of the expected behavior) :
Running the latest code from master, getting a 500 internal server error - no data is being fetched.

## Steps to Reproduce :
1. Navigate to Resource Accessed view
2. The spinner shows

[2019-08-05 13:19] pushyamig commented on #631
This is happening due to the property is not set. I am working on a fix this but this is the workarond
[code]

[2019-08-06 13:27] #619 closed

[2019-08-06 13:27] #579 closed

[2019-08-06 13:55] jonespm opened #634 "Fix spelling of variable roundToOneDecimcal"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
There is a variable spelled wrong in the code Decimcal. There's no user facing issue or steps to reproduce but this should be fixed for consist

[2019-08-06 14:17] jonespm commented on #533
Is this fixed? I'm seeing this in the master now when the resource_access table is empty. I'm going to put in a PR that should fix this.

[2019-08-06 15:05] #533 closed

[2019-08-06 16:31] justin0022 commented on #631
Looks like this is fixed now, thanks!

[2019-08-06 16:31] #631 closed

[2019-08-06 16:34] #634 closed

[2019-08-06 17:30] pushyamig opened #637 "Make the Alerts with consistent styling"
Myla alerts users with messages in unforeseen situations, we want the alerts to be consistent in style. More details on how it needs to be styled are [here](https://github.com/tl-its-umich-edu/my-learning-analytics/wiki/MyLA-Style-Guide).

Various Alerts in App
Grade/assignments/resources - when the view is disabled
Resources - when no resource type is selected.

[2019-08-06 17:49] justin0022 commented on #637
Currently there's an `Error` component (that's under the `containers` folder - it should be moved to `components` folder). We could create some other components (like `Warning` and `Success`) that apply the correct styling.

[2019-08-06 21:57] justin0022 commented on #601
After thinking about this, I don't know if it's that important. I'll close this for now and if we decide it's an issue I can look into it again.

[2019-08-06 21:57] #601 closed

[2019-08-06 22:03] justin0022 opened #639 "Turn on production mode for front-end when deploying and add to README"
Just a note that when deploying to production, the front-end should be built using production mode. Looking inside `package.json`, under `scripts`, there's the `prod` field.

`npm run prod` should output [React in production mode](https://reactjs.org/docs/optimizing-performance.html), which is important for performance and much smaller JavaScript bundle size since Webpack tree-shakes/minifies the

[2019-08-06 22:26] justin0022 commented on #604
Todo: add note about running the front-end in production mode.

[2019-08-07 12:05] pushyamig commented on #639
The way it is set up right now in the `DockerFile` it is running as default `npm run prod`, for local run `docker-compose.yml` is used and under the `webpack_watcher` attribute it says `npm run watch` it transforms to run in development mode. For production, when using `docker-compose-prod.yml` or not using it ( in our case we are not using any docker-compose in prod) it is defaulting to set up in

[2019-08-07 14:08] vjcao commented on #637
For this issue, I was considering using React Bootstrap's Alert component since the style guide emulates the alert's styles exactly. The React Bootstrap Alert component also offers a variety of variants like 'success', 'warning', 'danger' and many others (https://react-bootstrap.github.io/components/alerts). However @pushyamig found out that Material-UI and Bootstrap are both heavy and that we sho

[2019-08-07 16:09] justin0022 commented on #637
I agree with @pushyamig, importing React Bootstrap just for the alert components is too heavy. It should be pretty easy to build a component from scratch though. I've been using the [snackbars](https://material-ui.com/components/snackbars/) in the grade distribution view, when the user selects to enable/disable their own grade view.

Could we use the snackbar maybe for errors?

[2019-08-07 16:17] justin0022 commented on #639
Perfect, good to know things are already running in prod. I'll add a note about this in the readme.

[2019-08-07 16:28] pushyamig commented on #637
@johnpj  what do you think of the idea of snackbar as alerts?

[2019-08-07 16:35] jonespm commented on #637
I personally feel like "snackbar" doesn't fit the intended use of this as they are not permanent and low priority. Banner is more appropriate however I don't like the color styling of the default banners as it's not obvious that there is a warning. Maybe we could use a banner and just apply some style?

https://material.io/design/components/snackbars.html#usage

| Component | Priority | User actio

[2019-08-07 16:41] justin0022 commented on #637
Good point, a banner sounds good, styling should be straight forward.

[2019-08-07 16:57] jonespm commented on #637
Yeah looks like there's some theming that can be applied to banners. I think that would be good.

https://material.io/design/components/banners.html#theming

Displaying a message with a little more prominent theming and  a simple action like "Dismiss" makes sense to me for these alerts.

[2019-08-07 17:56] justin0022 opened #641 "Refactor Assignment Planning to use userSetting hooks"
This will keep the way that user settings are fetched and stored consistent with the Grade Distribution view.

[2019-08-07 17:56] justin0022 opened #642 "Refactor Resources Accessed to use userSetting hooks"
This will keep the way that user settings are fetched and stored consistent with the Grade Distribution view.

[2019-08-07 20:18] pushyamig opened #643 "Resources data is throwing and exception instead of handling it"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

## Describe the bug (Tell us what happens instead of the expected behavior) :
student_dashboard  | [2019-08-07 15:41:06 -0400] [23] [ERROR] In

[2019-08-07 21:09] jonespm opened #644 "Fix courses name in the urls.py to be courses"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Describe the bug (Tell us what happens instead of the expected behavior) :
The name for courses in the URL's (code) is named wrong so anything that tries to reverse this isn't going to work. Noticed in LTI and talked to Sam abou

[2019-08-07 21:14] jonespm opened #646 "Test and update LTI code as needed"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
The LTI launch should be well documented and work as expected.

## Describe the bug (Tell us what happens instead of the expected behavior) :
W

[2019-08-08 13:21] #628 closed

[2019-08-08 19:45] justin0022 opened #648 "Create sourcemaps for front-end development"
Currently webpack isn't generating [sourcemaps](https://webpack.js.org/configuration/devtool/) so when in Chrome Devtools, it's difficult to debug since the code is transpiled.

[2019-08-08 20:45] #592 closed

[2019-08-08 20:45] #602 closed

[2019-08-08 21:25] justin0022 commented on #576
@pushyamig were you able to recreate this issue at all?

[2019-08-08 22:55] justin0022 commented on #623
We decided to use [Apollo](https://www.apollographql.com/docs/react/why-apollo/) for the front end GQL client.

[2019-08-09 17:12] jonespm opened #650 "Implement support for Content Security Policy (CSP)"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
This application should have a content security policy to further mitigate various potential security attacks as well as allow for appropriate embedding in external websites

## Describe the solution you'd like
Use django-csp and configure appropriately

## Describe any possible alternatives you've co

[2019-08-09 21:51] #622 closed

[2019-08-12 13:06] pushyamig commented on #576
I was not able to recreate it when I tested it today.
@jennlove-um can you test it again to confirm the issues is still there?

[2019-08-12 13:22] jonespm opened #653 "Map a secrets directory for easier addition of myla secrets and configs"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
I think having the secrets directory mapped via docker-compose to a directory outside of the directory would overall be safer and easier for developers. I'd like to map a directory by default in the home directory called "mylasecrets"

## Describe the solution you'd like
Add this config to docker-comp

[2019-08-12 13:55] jennlove-um commented on #576
I am not able to replicate it today.  I'll close this issue.

[2019-08-12 13:55] #576 closed

[2019-08-12 16:14] #644 closed

[2019-08-13 13:32] pushyamig commented on #401
The user table doesn't seem to pull the inactive student information, I don't know if it was a problem and solved in between. I am closing this issue as resolved

[2019-08-13 13:32] #401 closed

[2019-08-13 16:32] #343 closed

[2019-08-13 19:01] zqian opened #658 "Update the help documentation to reflect the recent tool design changes"
There have been a couple of recent changes to the MyLA visualization interface.

For example, the "File Access"will be changed into "Resource Access" to include more resource types; the vertical My Grade bar will not shown, etc.

The MyLA documentation needs to be updated to reflect those changes with the release.

[2019-08-14 12:25] #643 closed

[2019-08-14 14:13] #650 closed

[2019-08-14 14:13] #653 closed

[2019-08-14 14:17] jonespm opened #660 "minor correction: BigQuery instead of Big Query"
minor correction: BigQuery instead of Big Query

_Originally posted by @zqian in https://github.com/tl-its-umich-edu/my-learning-analytics/pull/657_

[2019-08-14 14:23] jonespm opened #661 "Reorganize docs and configs into a docs folder"
Most large python projects seem to organize their documentation into a docs folder. This would probably make sense to do.

Like: https://github.com/django/django

We could move the config/env_sample.json, our existing docs and create something nice like
https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html

Then as we documented the code better it would also generate better

[2019-08-14 14:26] jonespm commented on #485
@ssciolla was talking about this so I'm assigning to him to also look at what this would take.

[2019-08-14 14:29] jonespm commented on #457
Assigning to @ssciolla as he worked on these term dates already. This would be nice to have for Fall but could be pushed back, maybe even to a later Fall release.

[2019-08-14 16:53] jonespm opened #662 "Build problem with invalid symlink"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Describe the bug (Tell us what happens instead of the expected behavior) :
There's a build error that says
[code]

I think if necessary we can just delete the node_modules/.bin directory as it's not used in running the applicati

[2019-08-14 16:57] jonespm commented on #662
A possible fix for this would be to just remove all symlinks from node_modules (or remove node_modules/.bin), we don't need those.

[code]

[2019-08-15 18:38] jonespm opened #664 "Change django-cron over to just a management command"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
At Michigan, we're not using the Django cron features. [This project](https://github.com/Tivix/django-cron) hasn't been updated in over a year and has a number of open issues including one I opened where it doesn't capture the entire log file. I feel like it's easier if we just remove it and suggest b

[2019-08-15 18:46] andrew-gardener commented on #664
I'm fine with removing django-cron. We were going to try and schedule the cron in other infrastructure anyways (and for development, we always force run as needed).

[2019-08-15 19:43] pushyamig commented on #490
We have migrated all the prod and non-prod instance.

[2019-08-15 19:43] #490 closed

[2019-08-15 20:56] jonespm opened #665 "Check if the term on a course is set before returning a date"
#  Expected behavior (A clear and concise description of what you expected to happen) :
If a term isn't set on a course, there is an error since the term is None and it checks self.term.date_start (and self.term.get_correct_date_end()) in these methods. It should first check that the term is available.

https://github.com/tl-its-umich-edu/my-learning-analytics/blob/d8b793e41cee29e5b808a45933918437

[2019-08-16 20:22] jonespm opened #667 "In cron, access denied to big query should be an error"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
If you cannot connect to big query it prints up a message

`[2019-08-16 16:14:20 -0400] [1] [INFO] 403 POST https://www.googleapis.com/bigquery

[2019-08-19 12:20] pushyamig commented on #662
This problem seems to be occurring with Myla running on Openshift (Michigan infrastructure). This problem seems to resolve now.

[2019-08-19 12:20] #662 closed

[2019-08-19 15:02] ssciolla opened #668 "CourseViewOption record with defaults is not created when new Course record is created in Admin"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

When a new `Course` is created in the Django admin interface, a new `CourseViewOption` record should also be created, regardless of what boxes

[2019-08-21 17:42] jonespm opened #670 "Supply a better message if the course doesn't exist"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
If you go to a course that doesn't exist for instance
/courses/99999999 it should display a message that the course doesn't exist.
## Describe

[2019-08-21 21:27] jonespm commented on #668
It should still have editable=false.

The save_model override of CourseAdmin is intended for creating and saving the id based on the canvas_id. This isn't a field the user should need to enter. It's possible this isn't executing correctly if this isn't in there.

[code]

[2019-08-22 13:14] jonespm opened #672 "Use a better avatar icon for LTI launch (and maybe just in general)"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
If LTI launched from Canvas use the user image from the LTI launch in the avatar link.

`user_image: http://url.to.image`

## Describe the solution you'd like
Basically add support for image instead of text. We could also support a user image in the app but LTI launch provides it. Seems better than ha

[2019-08-22 13:17] jonespm commented on #672
The LTI launch just has a number like this
![image](https://user-images.githubusercontent.com/27447/63517652-5bd41700-c4bd-11e9-9912-a94ae2ce0f4f.png)

[2019-08-22 14:11] ssciolla commented on #668
I've been experimenting with using `readonly_fields` in the `CourseAdmin` rather than using `editable=false`. It's nice that the field still shows up in the interface, without being editable. The `editable` [option](https://docs.djangoproject.com/en/2.2/ref/models/fields/#editable) does seem to be more global, which could be an advantage. Both seem to solve this issue, making the `AlwaysChangedMod

[2019-08-22 16:57] jonespm commented on #45
I think this can be closed because of react

[2019-08-22 16:57] #45 closed

[2019-08-22 17:04] jonespm opened #673 "Allow for custom themes/styles"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
We were thinking of easy ways that this tool could be customized for styling. If it's launched via LTI from Canvas you can use
`canvas.css.common = $Canvas.css.common
`
To get the URL to the Canvas common CSS for your theme. This is probably good, but minimally we should have a way to change the color

[2019-08-22 18:13] jonespm commented on #670
There's also an issue if the user doesn't have permission to the course. The api just throws a 403 but the frontend displays the same message. Need to figure out a good way of dealing with these.

[2019-08-22 19:28] jonespm commented on #665
We talked about what to return here. Either
datetime.now()
or
datetime.MINYEAR and datetime.MAXYEAR

I feel like MINYEAR might have a larger potential for other issues so now() probably safest.

[2019-08-23 17:43] ssciolla commented on #665
@jonespm How about something like this [commit](https://github.com/ssciolla/my-learning-analytics/commit/fd0cace1b7c8b16820a8ae5d94d26d7f64782cc9)?

Here's the modification to the `get_course_date_range` method:
[code]

I also updated the logic in `get_course_info` to be able to pass `None` as the value associated with the `term` key in the response object. It's debatable whether we ought to inclu

[2019-08-26 19:46] #646 closed

[2019-08-26 20:36] jonespm opened #674 "Slightly re-org Dockerfile to improve layer caching"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Describe the bug (Tell us what happens instead of the expected behavior) :
I noticed in the docker file it does some of the copying of node deps after it copies the project. We should be able to to do that library copy first to

[2019-08-28 17:45] jonespm opened #677 "Can't login in localhost MyLA"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
Should be able to login, logout and login again

## Describe the bug (Tell us what happens instead of the expected behavior) :
It looks like th

[2019-08-28 21:28] #677 closed

[2019-08-29 21:01] justin0022 opened #679 "Refactor how user settings are stored"
This is a common pattern that I've seen in `GradeDistribution`, `AssignmentPlanning`, and `ResourcesAccessed`.

# GradeDistribution
[code]

# AssignmentPlanning
[code]

# ResourcesAccessed
[code]

In GradeDistribution, the user setting endpoint returns the strings "True" and "False" instead of Boolean values, which is why I'm using this confusing line `setShowGrade(userSetting.default !== 'False')

[2019-08-30 12:28] pushyamig opened #680 "Change the BigQuery Queries to consider the Event_times"
comments from  Unizin ....
The Event store in your production environments is now partitioned. More specifically, it is partitioned on the `event_time` column of the events table. Note that `event_time`  corresponds to the same property in the Caliper event (i.e., the timestamp when a behavior/event happened).

You need not query the Event store any differently than you do today to take advantage

[2019-09-04 16:23] ssciolla opened #681 "DashboardAppBar links don't work in Firefox"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

When clicking on the two links in the `DashboardAppBar`, the user should be redirected to the course list (`courses/`) or the course home page

[2019-09-04 16:25] justin0022 commented on #681
Strange! I'll investigate.

[2019-09-04 16:38] justin0022 commented on #681
I'm unable to reproduce on my Mac, running Firefox Quantum 68.0.2 (64-bit)

[2019-09-04 16:42] ssciolla commented on #681
Huh. I'm using Firefox Quantum 60.8.0esr (64-bit) on my Mac. I believe @pushyamig was able to reproduce this.

[2019-09-04 16:45] justin0022 commented on #681
Strange. I just tried on Safari and it's also working as expected.

[2019-09-04 16:45] pushyamig commented on #681
Yes, I was able to reproduce the issue same version as @Samuel Sciolla
<ssciolla@umich.edu>
Regards,
Pushyami

On Wed, Sep 4, 2019 at 12:42 PM Sam Sciolla <notifications@github.com>
wrote:

[2019-09-04 20:00] jonespm commented on #681
Firefox 68 ESR was released July 9th, 2019 and Firefox 60 ESR is no longer going to be supported at all after October 23rd. There were a lot of odd bugs that only affected Firefox 60. I know currently our (ITS) image has 60 ESR but that could get updated any day.

In the last 6 months of running MyLA in production we had 1.9% of users on Firefox. And of that 1.9% only 15% were on 60.0. So that's 0

[2019-09-04 21:19] ssciolla commented on #681
@jonespm, makes sense. I'm closing this for now, and I'll test it again when the Firefox version gets updated. Thanks for checking it out, @justin0022!

[2019-09-04 21:19] #681 closed

[2019-09-05 15:48] jonespm opened #683 "Demo mentioned in README no longer works"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
When running the "Populate initial demo terms and courses" something should still work with this process.

`docker exec -it student_dashboard /

[2019-09-05 15:54] jonespm commented on #683
I think it would still be nice to have some mock "demo" data. I'm not sure of the best way to do it.

I was thinking we could just re-generate de-personalized data whenever we made large changes to the data model but that requires keeping up with that process.

We could create [fixtures](https://docs.djangoproject.com/en/2.2/howto/initial-data/) instead of the SQL file (based on the SQL file). I t

[2019-09-05 16:02] jonespm opened #684 "Add link to course to Courses admin page"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
I feel like we've talked about this but I don't see the issue for this one. It would be nice to have a link that goes to the course somewhere in the admin UI. Currently we have to change this around. I remember having to change around the courses URL to retrieve this a while ago. The URL can be retrie

[2019-09-05 16:03] jonespm commented on #684
@ssciolla Did you do any work on this one? I'd thought it was implemented for some reason? :)

[2019-09-05 16:07] ssciolla commented on #684
We talked about this, yeah, but I was sidetracked by some other things. The ideal solution is to use `get_absolute_url`, since I believe it will automatically create a button similar to the one we have now for "Login As" when logging in as a user. I remember encountering some difficulty that made me start thinking about the Django version upgrade, but I will return to this.

[2019-09-05 16:14] jonespm opened #685 "Add some way to see what users are in what courses"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
I feel like it would save time if there was a way to see what users are in which courses in the Django Admin interface. Right now we either have to go to the database or to Canvas.

## Describe the solution you'd like
Maybe a [custom action that goes to another page](https://docs.djangoproject.com/en/

[2019-09-05 16:37] #623 closed

[2019-09-05 17:49] ssciolla commented on #685
This issue relates to a current problem I see with the data model, which is that really the relationship between `user` and `course` is many-to-many. Some of the columns in `user` could be part of an `enrollment` junction table (e.g. `current_grade`, `final_grade`, and `enrollment_type`). With a formal many-to-many relationship set up, it should be straightforward to  add a `users` field to the ad

[2019-09-06 15:05] pushyamig opened #687 "make the `course_enabled` api as configurable option for making it public/protected API"
At Umich we have made `course_enabled API (list courses view options enabled/disabled) as Public. The purpose of the API was to enable the Myla visuals Links( likes /assignments) in canvas. This approach might not be True with other universities, so making this a configuration Defaulting to False via `env.json` and removing it from Django-rules set.

[2019-09-06 15:52] jonespm opened #688 "Help URL should be configurable"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
The URL to help should be able to be configured via the json settings. Currently it's hardcoded to [Michigan's Help](https://github.com/tl-its-umich-edu/my-learning-analytics/blob/106d8ab585ba4479fb54d0624af9e33347d271eb/assets/src/components/AvatarModal.js#L45). Other schools may want to provide they

[2019-09-06 18:46] #641 closed

[2019-09-06 18:51] pushyamig opened #689 "Create a Branch 2019.02.x for Fall 2019"
This Branch is going to be the stable branch for Fall 2019 term. Any fixes that are relevant for Fall term should First go in `Master` and later committed to `2019.02.x` Branch

[2019-09-09 22:18] #665 closed

[2019-09-10 17:36] jennlove-um opened #691 "Assignment Planning Redesign"
## Overview
The U-M MyLA research team has discussed and developed a redesign of the Assignment Planning view.  The redesigned view makes the visualization easier to understand and provides students the ability to set goals at the course and assignment levels.
![image](https://user-images.githubusercontent.com/39634416/64651891-85af9800-d3f0-11e9-99f6-d6f47b74ac1a.png)

The visualization has three

[2019-09-11 16:55] pushyamig opened #693 "Resource accessed: Add icons & revise file name display"
Resources view currently is designed to show both files/video data.
1. Having an icon next to the resource name make it recognize what is the resource type they are looking at
2. Resource name can get long depending how instructor name it but we want to short using CSS ellipsis and on hovering over the resource name will give a complete name.

[2019-09-11 18:16] andrew-gardener commented on #691
Two questions:
1) are goals saved between page views?
2) for event tracking, is this planned to be done in Caliper (related to #310) or will it be another form of basic event tracking in the meantime?

[2019-09-11 18:19] jennlove-um commented on #691
1. Yes, the goals persist until the student changes them.
2. It may be basic event tracking until we get MyLA instrumented with Caliper.  But I'll defer to developer expertise on this one.

[2019-09-11 23:29] justin0022 opened #694 "Resource Accessed responsive bug"
## Expected behavior (A clear and concise description of what you expected to happen) :
The slider on the right overflows and exits the display when the browser window is resized.

## Screenshots/Video (If possible, add media to help explain your problem) :
![Screen Shot 2019-09-11 at 4 27 20 PM](https://user-images.githubusercontent.com/8836578/64742520-5f9dfc80-d4b1-11e9-8192-e91a97f3e518.png)

[2019-09-13 15:04] jonespm opened #695 "Update PTVSD library to support current VSCode"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
Debugger should work, it doesn't look like it is

## Describe the bug (Tell us what happens instead of the expected behavior) :
Need to update

[2019-09-16 18:57] pushyamig opened #698 "Have the Git revision and branch info in the footer of the Myla"
These are ideas to do it and possibly this is just for the admin user only
1. https://github.com/tl-its-umich-edu/my-learning-analytics/commit/400a14cce16629efa0ef8f0cf95d07afe05bfb43
2. https://www.npmjs.com/package/git-revision-webpack-plugin
3. https://goodcode.io/articles/django-source-revision/

[2019-09-16 19:44] #689 closed

[2019-09-16 21:48] justin0022 commented on #691
<img width="1290" alt="Screen Shot 2019-09-16 at 2 47 35 PM" src="https://user-images.githubusercontent.com/8836578/64995755-f2afab80-d890-11e9-82dd-85e557240ee5.png">

It's slowly coming together

[2019-09-18 15:33] jennlove-um commented on #457
Testing done in issue #666 .

[2019-09-18 15:41] jennlove-um commented on #668
Testing passed in #666.  I added a course and the course_id was read only and populated when the chron job ran.

[2019-09-18 15:56] jennlove-um commented on #598
Testing passes.  File names show up correctly in the resources view.

[2019-09-18 15:57] jennlove-um commented on #643
@pushyamig Can I test this by using a filter with no students accessing files within a particular grade range?

[2019-09-18 16:09] pushyamig commented on #643
Yes, Choose a course where students only have grade range in 90-100. you can go to `user` table to check for grades. 268616, 328922 is one such courses

[2019-09-18 16:13] jennlove-um commented on #602
Test with #638

[2019-09-18 16:22] jennlove-um commented on #577
This still occurs for me in testing.  I'm using Chrome.  It happens when I change the sliders.  I'm moving this from the fall release as not high enough priority to hold back the release.  But we should still find out why the screen flickers through several versions of the visualization before settling.

[2019-09-19 13:20] #688 closed

[2019-09-19 17:08] justin0022 opened #705 "Snackbar in grade distribution is triggered when sidebar is opened"
## Expected behavior:
Snackbar should only display when `Show my grade` is clicked.

## Describe the bug (Tell us what happens instead of the expected behavior) :
Snackbar is triggered when sidebar is opened/closed if the `Show my grade` is changed _before_ the sidebar is opened.

## Steps to Reproduce :
1. Navigate to grade distribution.
2. Click `Show my grade`
3. Click sidebar (top left button)

[2019-09-19 20:25] justin0022 commented on #691
I have a suggestion for a slight modification to the UI that will reduce confusion for setting individual assignment goals.

There should be a lock icon beside any assignment goal that a student has set, allowing them to "lock-in" a goal and prevent it from shifting around when they go to modify another assignment goal.

Thoughts?

[2019-09-20 14:31] jonespm opened #706 "Umich references in configuration in sample queries should be configurable outside queries"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
Looking at the sample BigQuery queries, we have sample strings that contain "umich.edu". It seems like at least the Canvas one should be pulled out to be configured outside this string.

`IN UNNEST(['http://m.canvas.umich.edu/', 'http://umich.instructure.com/'])`

The lecture capture one is also usefu

[2019-09-20 14:53] pushyamig commented on #691
Your Idea makes sense with locking individual assignment, its the design team decision. @jennlove-um Thoughts?

[2019-09-20 15:39] pushyamig opened #707 "Simplify the Grade_distribution API format"
As per [discussion](https://github.com/tl-its-umich-edu/my-learning-analytics/pull/703#discussion_r326229366) we could remodel the Response to use something like the following structure:
[code]

[2019-09-20 18:51] jonespm opened #708 "Switch to only supporting gunicorn"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
Currently the service supports both Gunicorn and Django Runserver because of issues supporting PTVSD debugging. Recently [issues were fixed in VSCode](https://github.com/microsoft/vscode-python/issues/2138) to support Gunicorn. So we should just switch to using it.

## Describe the solution you'd like

[2019-09-20 18:52] #542 closed

[2019-09-23 14:22] jennlove-um commented on #691
Would the same information be conveyed by the reset icon instead of the lock icon?  When a student enters a goal at the assignment level, the a reset icon should display.  That shows them they've entered a goal.  The system won't change that goal even if the student changes the goals on other assignments.  Only clicking the reset icon would cause a manually-entered goal to recalculate based on the

[2019-09-23 15:37] justin0022 commented on #691
@jennlove-um I was thinking about when students are setting individual assignment goals.

For example, say a student wants a 90% in the course, and thinks they can realistically achieve a 85% on midterm 1. So they set the midterm 1 grade to 85%, at which point all of the other assignment grades will recalculate, so that the course grade totals to 90%. Then they notice that the midterm 2 grade has

[2019-09-23 15:54] jennlove-um commented on #691
Actually, the way we talked about it with our researchers, the scenario
would play out a little differently.

The student sets 85% on midterm 1, and all the other assignments
recalculate (assuming this is the first assignment goal set).
When they then go to midterm 2 and set it to 85%, then all the other grades
EXCEPT midterm 1 recalculate.  The business rule would be that
recalculations are done

[2019-09-23 16:49] justin0022 commented on #691
Understood. So essentially any time a student sets an assignment goal, then that assignment goal effectively gets "locked".

I'll build it for now without a visual lock icon, and we can test to see how the view works.

[2019-09-23 17:04] jennlove-um commented on #691
Thanks!  I agree that testing the visual is a great idea.  We're hoping to
be able to do some usability testing with students this fall.  Asking them
about whether having a lock icon would make it more clear that the grade
won't change could be a really useful question to include in that testing.

On Mon, Sep 23, 2019 at 12:49 PM Justin Lee <notifications@github.com>
wrote:

--
*Jennifer Love* (pr

[2019-09-23 17:39] jennlove-um commented on #387
Tested - The admin course view now shows the course id, name, term, show grade counts, and course view options for each course.

[2019-09-23 17:45] jennlove-um commented on #452
Testing passes

1. Created a new course with all default options checked.  The course was correctly created in the database.

2. Created a new course with none of the options checked.  The course was correctly created in the database.

[2019-09-23 17:46] jennlove-um commented on #575
Testing passes.

[2019-09-23 17:50] jennlove-um commented on #573
@justin0022 & @pushyamig The links to the visualizations are still displaying in the wrong order.

On the course homepage, they should display in this order: Resources Accessed, Assignment Planning, Grade Distribution.

That same order should be used in the drop-down navigation.

The reason behind this is to not emphasize Grade Distribution by making it the first one to display.

[2019-09-23 17:55] jennlove-um commented on #459
Testing passes.  When I enter a non-numeric id, it does not save and an error message indicates that the course ID must be an integer value.

One curious note: The field prevented me from entering any non-numeric characters except e, . (period), - (minus), and +.

[2019-09-23 17:55] jennlove-um commented on #580
Testing passes

[2019-09-23 17:56] justin0022 commented on #573
Really strange, there must have been a mistake with resolving a merge conflict in the past. I fixed this previously. Not a huge deal, it's an easy fix - I've opened a PR now.

[2019-09-23 18:02] jennlove-um commented on #543
Testing passes

[2019-09-23 18:04] jennlove-um commented on #573
Thanks!!  I was hoping it was a quick and easy fix.  I appreciate you
taking a look at it.

On Mon, Sep 23, 2019 at 1:56 PM Justin Lee <notifications@github.com> wrote:

--
*Jennifer Love* (pronouns: she, her, hers <http://www.mypronouns.org>)
*Business Systems Analyst, ITS Teaching & Learning*
Information and Technology Services | University of Michigan
120-10 Boyer Building <https://its.umich.ed

[2019-09-23 18:16] #573 closed

[2019-09-23 18:17] jennlove-um commented on #574
Testing passes.

[2019-09-23 18:22] jennlove-um commented on #592
@justin0022 Hi Justin - what's the expected behavior that I should be testing for on this one?

[2019-09-23 18:27] jennlove-um commented on #643
Testing passes: If no students in the selected grade range have viewed files, the page displays an informational message: Resource data for your selections is not available.

[2019-09-23 18:28] justin0022 commented on #592
The window slider on the right, when fully collapsed, shouldn't bug out. You can see that in the left-middle section of the screenshot there's some black squiggly lines caused by the window slider being fully collapsed.

[2019-09-23 18:30] jennlove-um commented on #628
Testing passes:

1. Admin does not see the Show My Grade checkbox.

2. Checking / unchecking Show My Grade correctly causes the student's grade to display on the histogram and in the text area.

[2019-09-23 18:42] jennlove-um commented on #592
Thanks!  It's working for me in testing, now.

[2019-09-23 18:43] jennlove-um commented on #631
Testing passes: Resources accessed view shows resources for a course.

[2019-09-23 18:49] jennlove-um commented on #541
Testing passes:

When a student checks or unchecks the Show My Grade option, the selection persists until they manually change it again.

[2019-09-23 19:00] jennlove-um commented on #566
No testing needed since the bug could not be reproduced.  Also, Resources Accessed view is behaving as expected in general testing.

[2019-09-23 19:11] jennlove-um commented on #314
Testing passes:

1. enrollment_type has been added to the user table

2. users (teachers & students) can access pages for courses that they are enrolled in

3. users (teachers & students) cannot access pages for courses that they are not enrolle din

[2019-09-23 19:18] jennlove-um commented on #579
Testing passes:

Assignment list is correctly displaying the current week in orange and centers on that week.

[2019-09-23 19:21] jennlove-um commented on #455
@jonespm Is there something to test for this one?

[2019-09-23 19:45] jennlove-um commented on #407
Testing appears to pass.  Teachers are an example of users who will always have no course grades.  Logging in as a teacher, I can still see all the course visualizations correctly, so this appears to work as intended.

[2019-09-23 19:52] jennlove-um commented on #611
Testing passes

[2019-09-23 20:11] jennlove-um commented on #658
Online help has been updated.

[2019-09-23 20:11] #658 closed

[2019-09-24 17:22] jennlove-um commented on #573
Testing passes

[2019-09-24 17:37] #687 closed

[2019-09-24 17:41] jonespm commented on #693
The idea was to make it look a little like Canvas and have the
[Icon] [Name . . .]

With the name left aligned and truncated to fit. Not sure how many characters.

[2019-09-24 17:42] #637 closed

[2019-09-24 17:43] #683 closed

[2019-09-24 17:51] jennlove-um opened #716 "Create a MyLA error email group for when Jenkins failed"

[2019-09-24 17:56] jennlove-um opened #717 "Write release notes for MyLA Fall 2019.01"

[2019-09-24 18:09] ssciolla opened #718 "Tooltips on AssignmentPlanning and ResourcesAccessed views are inconsistent"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added

The Tooltips currently used on the AssignmentPlanning and ResourcesAccessed views employ two different styles. AssignmentPlanning has white boxes with no arrows when you hover over assignments, while ResourcesAccessed has dark boxes with arrows when you hover over the resource view count bars.

## De

[2019-09-24 18:16] ssciolla commented on #718
@justin0022 @pushyamig I'm assigning this to you both for the moment (as well as myself) -- since you know these views best and are continuing to work on them -- but we probably ought to decide which one of us should take the lead.

[2019-09-24 18:27] jonespm commented on #619
`describe table resource`

[2019-09-24 19:49] justin0022 commented on #718
I can work on this while working on the AssignmentPlanning redesign - but I won't be working on the tooltip till near the end of the implementation.

[2019-09-25 12:51] jonespm commented on #708
I'm going to close this for now, this wasn't fixed. Maybe I'll test this out again in the future but it's low priority.

[2019-09-25 12:51] #708 closed

[2019-09-25 17:39] jonespm opened #719 "Update README for latest version of data (9-11)"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
It was noted on the call that myla_test_data_2019_09_11 file is not correct with the current README. We need to update the README for the data

[2019-09-26 13:11] #491 closed

[2019-09-26 15:51] jennlove-um commented on #552
@pushyamig I get an SQL syntax error when I try to do the insert to test this

[2019-09-26 15:52] jennlove-um commented on #619
Confirmed resource_type is not a primary key in the table

[2019-09-26 15:58] jennlove-um commented on #552
This works for students in multiple courses.  From within a course visualization, click on the profile gray circle, on the drop-down, click switch courses, then select another course to go to.

[2019-09-26 17:06] jonespm commented on #695
This was fixed in #696

[2019-09-26 17:06] #695 closed

[2019-09-26 17:45] jennlove-um commented on #665
Testing passes.  I created a course with no term and did not run the chron.  I was able to go to all 3 visualization pages and to the admin screen for that course with no errors.

[2019-09-26 17:51] jennlove-um commented on #637
The banners are consistent and use the colors as discussed in #682

[2019-09-26 17:52] jennlove-um commented on #687
@pushyamig How can I test this one?

[2019-09-26 18:20] jonespm opened #721 "Document the Canvas integration process"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
We should have a page in the Wiki documenting how we integrate this into Canvas.

This would include

~~- [ ] Enabling the courses URL COURSES_ENABLED=true~~
~~- [ ] Showing the javascript for how to use this URL in Canvas~~
~~- [ ] Using Cloudfront as a proxy to this data (We aren't using Cloudfront

[2019-09-26 18:22] jennlove-um commented on #687
Testing passes with configuration turned on and off.

[2019-09-26 18:28] jonespm opened #722 "Migrate settings.py settings over to a live-settings package"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
The settings.py is starting to get pretty unwieldy. It's hard to know when new settings come in and having to restart to set these isn't always ideal. We should move to a global settings package.

## Describe the solution you'd like
There are a number of packages listed here that support this. We'd wa

[2019-09-27 14:20] jennlove-um commented on #343
Testing passes - Term dates are used if there are no overrides for start or end in the Canvas course.  If there are overrides in the Canvas course, those are pulled in instead.  If dates are manually set in MyLA, those dates are used instead of term dates or course dates from Canvas.

[2019-09-27 14:42] jennlove-um commented on #683
@jonespm  Any advice on testing this one?

[2019-09-27 14:50] jonespm commented on #455
Yeah I think the test was to manually put a course in the wrong term. Like put a course that is in Fall 2019 into Fall 2015. Then try to view it in the assignments page.

Since the term and dates are being pulled via cron from the UDW this shouldn't happen anymore but still worth checking to see if it's an issue.

[2019-09-27 15:42] jennlove-um commented on #455
Testing passes - I'm unable to reproduce the error.

[2019-09-27 15:47] jennlove-um commented on #402
Testing passes: Resources view is correctly showing Lecture Capture and Files resources for courses that have multiple types of resources.

[2019-09-27 15:47] jennlove-um commented on #554
Testing passes: Resources view is correctly showing Lecture Capture and Files resources for courses that have multiple types of resources.

[2019-09-27 15:47] jennlove-um commented on #532
Testing passes: Resources view is correctly showing Lecture Capture and Files resources for courses that have multiple types of resources.

[2019-09-27 20:47] jennlove-um opened #724 "Change text on mouse-over for video content"
On the Resources Accessed page, the mouse-over text for files that the student has accessed currently reads "You have read the resource X times.  The last time you accessed this recourse was ..."

Since we are including types of resources that are not read, e.g., video, we need to change this to more generic language.

Suggested change: "You have accessed this content X times.  The last time you a

[2019-09-27 21:03] jennlove-um opened #725 "Resources Accessed: Message displays saying no data is available when the user changes their setting"
# Expected behavior (A clear and concise description of what you expected to happen) :
User can select a new setting from the filter drop-down and the filtered results and week timeline continue to display correctly when the setting is saved.

## Describe the bug (Tell us what happens instead of the expected behavior) :
After clicking Save My Setting, 2 unexpected results are happening:
1. The tim

[2019-09-27 21:11] justin0022 opened #726 "Fake graded assignment data is unrealistic"
The fake assignment grades are unrealistic - often the grades are much higher than 100%, causing a large amount of overflow.

I can work around this by manually adjusting the grades or preventing the overflow in the first place, but just wanted to flag this for now.
<img width="1469" alt="Screen Shot 2019-09-27 at 2 10 40 PM" src="https://user-images.githubusercontent.com/8836578/65802510-bc93e680

[2019-09-27 21:16] jonespm commented on #726
Yeah I know, the depersonalization has a bug that I haven't had time to look into with assignments. We'd like to fix this and convert these to fixtures, but have been too busy getting ready still to deploy for start of semester. It's a known issue and I'll fix it.

[2019-09-27 21:19] justin0022 commented on #726
No problem, it's not a pressing issue by any means, just makes the AssignmentPlanning redesign a bit trickier!

[2019-09-27 21:42] jennlove-um opened #727 "Use the Posted date in the Submission table to determine whether to show assignment grade"
Use the posted_at attribute on the submissions_dim to determine whether the student should see an assignment grade in MyLA.

If there is a posted_at date, then the grade has been released to the student and can be displayed in MyLA's Assignment Planning page.

If there is no posted_at date, then the grade has not been released to the student and should not be in MyLA for the assignment.

[2019-09-27 21:59] jennlove-um opened #728 "Assignment Planning view is showing grades for assignments that should be hidden"
## Expected behavior (A clear and concise description of what you expected to happen) :
Student goes to Assignment Planning view and assignments that have been released in Canvas have grades showing in MyLA.  Assignments that have not had grades released in Canvas do not show up in MyLA.

## Describe the bug (Tell us what happens instead of the expected behavior) :
Grades for assignments that have

[2019-09-27 22:07] jennlove-um commented on #725
@justin0022  I assigned this to @zqian, but if you want to look at it, let me know.  Thanks!

[2019-09-27 22:11] jennlove-um commented on #725
![MyLA_RA_SettingError](https://user-images.githubusercontent.com/39634416/65805057-2d97c600-e152-11e9-8e16-e250b238309f.gif)

[2019-09-27 22:43] justin0022 commented on #725
I can take a look but it may take me a while - the `AssignmentPlanning` redesign is taking up a large chunk of my time! If you want me to prioritize this just let me know.

[2019-09-30 15:10] jonespm opened #731 "LTI Launch should use custom_canvas_user_login_id for ID and support first/last name"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
By default the LTI launch is using `lis_person_sourcedid` and this *works* but I think it should be using `custom_canvas_user_login_id` which i

[2019-09-30 15:59] jennlove-um commented on #725
Thanks, @justin0022  - no need to look at it.  Zhen is taking this one one.

[2019-09-30 17:56] jonespm commented on #731
Test Plan:
* Setup LTI Launch via these instructions: https://github.com/tl-its-umich-edu/my-learning-analytics/wiki/Testing-LTI-on-localhost
* Launch it with a new user in the course
* Check the admin users or auth_user table. It should populate first_name, last_name as well as the username should be the user login ID.

[2019-09-30 18:48] #731 closed

[2019-10-01 14:51] pushyamig commented on #728
fixed by using `posted_by` #727 .

[2019-10-01 15:30] jonespm opened #733 "Update Django Debug Toolbar and update MIDDLEWARE for Django 1.11"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added

Django Debug Toolbar 2.0 was released that has a few new features and bugfixes. It removes support for the old MIDDLEWARE_CLASSES which MyLA is still using. This should be updated at the same time.

[2019-10-01 15:41] jonespm commented on #733
The test will be to login as admin and see that the toolbar still works. If this doesn't work you won't be able to login at all.

[2019-10-01 21:16] justin0022 commented on #691
@jennlove-um @pushyamig, what should happen in a case like the following:
<img width="1857" alt="Screen Shot 2019-10-01 at 2 13 29 PM" src="https://user-images.githubusercontent.com/8836578/66001116-b5811700-e455-11e9-82cd-31f1ba876e2e.png">

The user sets a goal grade for the course that's too high, resulting in goal grades for some assignments that are well above 100% (you can see the bottom two

[2019-10-02 13:15] jennlove-um commented on #691
When we talked with the research team about this, their general feeling was to allow students to set a goal above the max and allow assignments to go over the max available.  However, their suggestion was to add a visual cue to alert students that they've set a goal that exceeds the course max or individual assignment max possible.

Nothing too alarming, like flashing red with exclamation points,

[2019-10-02 15:31] justin0022 commented on #691
Okay, I'm thinking something like this, but instead of `Error`, it could say `Greater than 100%`. And maybe instead of the red underline it could be yellow.
<img width="185" alt="Screen Shot 2019-10-02 at 8 30 36 AM" src="https://user-images.githubusercontent.com/8836578/66058269-ef522c00-e4ee-11e9-9922-f67ba0af305a.png">

[2019-10-02 15:38] jennlove-um commented on #691
That seems reasonable - expect that this will be a first pass that will get
discussed and likely modified when the researchers review and provide
feedback.

On Wed, Oct 2, 2019 at 11:31 AM Justin Lee <notifications@github.com> wrote:

--
*Jennifer Love* (pronouns: she, her, hers <http://www.mypronouns.org>)
*Business Systems Analyst, ITS Teaching & Learning*
Information and Technology Services | U

[2019-10-02 16:22] #725 closed

[2019-10-02 16:23] #698 closed

[2019-10-02 16:26] pushyamig commented on #725
Test Plan:
I have refactored the login to the resource, so test it as a whole functionality of the view not just the bug.

[2019-10-02 16:48] pushyamig commented on #726
The effort of depersonalized data is [here](https://github.com/tl-its-umich-edu/myla-depersonalizer)

@jonespm I feel the repo should be mentioned in the MyLA readme so that more depersonalized data for all views can be added here by the community if they are willing to participate

[2019-10-02 16:56] jonespm commented on #726
I could add it, I think there's at least this issue of assignment data to resolve before anyone else uses it though.

[2019-10-02 17:05] justin0022 commented on #691
Should there be a similar warning if a student picks an excessively low goal grade?

[2019-10-02 17:12] justin0022 commented on #691
What the `Over 100%` warnings look like:
<img width="1904" alt="Screen Shot 2019-10-02 at 10 12 02 AM" src="https://user-images.githubusercontent.com/8836578/66065825-1c0d4000-e4fd-11e9-8187-63f735b3f358.png">

[2019-10-02 17:29] jennlove-um commented on #691
Is it possible to go with any color other than red?  Red communicates
they've done something wrong.  Maybe yellow would be better?

On Wed, Oct 2, 2019 at 1:12 PM Justin Lee <notifications@github.com> wrote:

--
*Jennifer Love* (pronouns: she, her, hers <http://www.mypronouns.org>)
*Business Systems Analyst, ITS Teaching & Learning*
Information and Technology Services | University of Michigan
120-

[2019-10-02 17:30] justin0022 commented on #691
Sure I should be able to change that

[2019-10-02 17:50] justin0022 opened #736 "Upgrade material-ui to V4 from V3"
Looks like a major upgrade with better theming support: https://medium.com/material-ui/material-ui-v4-is-out-4b7587d1e701

I'm going to test and see if there are any major breaking changes. If there are no major breaking changes I'll send in a PR.

[2019-10-02 17:58] #733 closed

[2019-10-02 18:03] pushyamig commented on #733
@jonespm do you want to has this change merged to `2019.02.x` branch? as this seems to be slated for the Project `MyLA-Fall-2019.02.02`. If yes, can you merge this change to  `2019.02.x`. Since we are still in a process of testing for Fall we can include it, WDYT?

[2019-10-02 21:02] ssciolla commented on #684
So adding the following code to the `Course` model works (i.e. adds a "VIEW ON SITE" button to the Course's edit page in the Admin).

[code]

However, you have to change the one `Site` record (referred to in `settings.py` by index in the `SITE_ID` variable) so its domain is `localhost:5001`, or the appropriate domain for a different environment. Does this "solve" the issue, or should we try to fin

[2019-10-03 13:51] jonespm opened #737 "Change "Due At" in assignment tooltip to be just "Due""
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

"Due at" sounds awkward, should be changed. In Canvas it just says "Due" and on the table it also says Due

![image](https://user-images.githubusercontent.com/27447/66132620-56411500-e5c3-11e9-8e25-d5cef38ec4ac.png)

[2019-10-03 16:13] #737 closed

[2019-10-03 18:56] jonespm opened #739 "Login and Logout redirect URL's are documented incorrectly"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
LOGIN_REDIRECT_URL and LOGOUT_REDIRECT_URL are actually DJANGO_LOGIN_REDIRECT_URL and DJANGO_LOGOUT_REDIRECT_URL in the code. Need to update th

[2019-10-03 20:02] jonespm opened #741 "Define the SAML config as a JSON block"
Now that we have JSON for config I was thinking we could group all the SAML stuff together. Anyone using SAML would need to change their config over to this one though.

[code]

_Originally posted by @jonespm in https://github.com/tl-its-umich-edu/my-learning-analytics/pull/740#issuecomment-538104336_

[2019-10-04 13:27] jonespm opened #742 "SAML should be able to load metadata from local as well as remote"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
Currently SAML can only load remote metadata. We need to change this block/logic so it also supports loading local XML.

https://github.com/tl-its-umich-edu/my-learning-analytics/blob/febd9d2f74f5848d1bc39ffc00cce6a5a489869b/dashboard/settings.py#L346

I'm thinking of changing it to

[code]

And then

[2019-10-04 17:40] pushyamig commented on #727
Test plan:
The below query will give you released grades to a student based on `sis_name`. Go to canvas Gradebook UI and verify if this is the same. If this is not the same one reason maybe since the Data update lag between UDW and canvas Gradebook. Then you might need to do to UDW to verify the grade presence
MyLA local DB
[code]
UDW Query:
[code]
get the `user_id` info as below and subsitute abo

[2019-10-04 18:47] jonespm commented on #742
This might not be something we want to do. I remember we changed this from local to remote because we had a validUntil attribute. Originally it was set far in the future but when we pulled an update once it was set to a much closer time and nobody noticed. Then a few weeks later nobody could login. Since the code caches and renews it works a lot better.

[2019-10-04 18:47] #739 closed

[2019-10-04 19:41] jonespm opened #744 "Files created within the last day just are "attachment""
# Expected behavior (A clear and concise description of what you expected to happen) :

The current process for pulling files in the cron is
- Get all resources for the course from BigQuery
- Update the file names from UDW

This was because previously the Caliper events didn't contain the file names. The problem is that UDW is delayed so new files will come over with the name "attachment"

However

[2019-10-04 19:43] jonespm commented on #693
Do we have a fix for this yet? I remember talking to @vjcao about the font awesome icons earlier this week.

[2019-10-04 20:05] jennlove-um commented on #739
Testing passes for both admin and non admin users.  Logout correctly prompts the user to confirm then completes the log out.

[2019-10-04 20:06] jennlove-um commented on #737
Testing passes

[2019-10-04 20:07] jennlove-um commented on #725
Resources Accessed functionality passes all tests in test plan.

[2019-10-04 20:08] jennlove-um commented on #542
At least the bottom 5 grades are binned and marked with a "< X%" gray dotted line

If all grades are 98% or above, no binning or <X% line displays.

If all binned grades are 2% or below, no <X% line displays.

Testing passes

[2019-10-04 20:09] jennlove-um commented on #698
Git version and branch display for admin user and do not display for non-admin user.  Testing passes.

[2019-10-04 20:10] jennlove-um commented on #733
Testing passes - I can log in as admin and use MyLA.

[2019-10-04 22:20] ssciolla commented on #673
I've made some progress on this issue, which you can see on my [673 issue branch](https://github.com/ssciolla/my-learning-analytics/tree/issue-673-enable-custom-themes). I just wanted to let people know to avoid duplication of effort and so @justin0022 can keep this in mind while working on PR #702. Next steps will be the following:

1) Think about other colors used in the UI and whether they shou

[2019-10-05 14:06] jonespm opened #746 "If big query query is incorrect it just prints an INFO and continues, should be ERROR."
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
On this line when bigquery runs if there's a syntax error with the query (which is defined in the settings) it just seems to print an error mes

[2019-10-05 14:09] jonespm opened #747 "Rewrite bigquery to only pull data from last run"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
The BigQuery piece of the cron pulls all of the data out of the entire event store. I believe that this data is partitioned by date now, so pulling data with a date filter should result in much better performance on this query. We should change this so it only appends new data by default rather than u

[2019-10-05 14:14] jonespm commented on #664
Yeah, I think everyone's fine with removing it, it just adds extra complexity and I personally find launching this job from Jenkins (or any other job scheduler) to be to much better and afford many more options.

[2019-10-07 12:12] jonespm opened #748 "Poor color contrast on files bars, inconsistency with assignment bars"
## Expected behavior (A clear and concise description of what you expected to happen) :

On the files page, the bars have a poor color contrast making the number very difficult to read.
The background is #808080 and text is #0F0F0F, which has a 4.5:1 ratio, barely passing.

Files:
![image](https://user-images.githubusercontent.com/27447/66310139-6e71a680-e8d9-11e9-8429-fb3ffabe025f.png)

Assignmen

[2019-10-07 12:13] jonespm commented on #618
Going to close this one, we are triggering it through Jenkins so this is no longer important to implement.

[2019-10-07 12:13] #618 closed

[2019-10-07 12:14] jonespm commented on #746
I believe this is the same as #667

[2019-10-07 12:21] jonespm opened #749 "Implement some alternate text for graphs to improve accessibility"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added

For someone who is blind or poor sight they might have a problem seeing the graphs. There also may be people who have trouble understanding the graphs.

Tableau has a cool extension developed by Narrative Science and I think this is what we'd want to use as inspiration for our data descriptions.

We'

[2019-10-07 12:22] jonespm commented on #749
Assigning to @jennlove-um to see if she's seen this in use in Tableau or anywhere else in commercial visualization applications before.

[2019-10-07 17:04] zqian commented on #744
Does this mean in the future, the update_canvas_resource call in the cron job is no longer needed? It purpose was to get the file display name.

[2019-10-07 17:10] jonespm commented on #744
The update_canvas_resource also checks if the file is available as well as updating the name. The name update would only be necessary for older files, but there's no harm in updating for newer files.

I believe that we could slightly improve the logic and have it only update the name where the name is not set. (On old caliper events) We're still going to need something to remove the unavailable fi

[2019-10-07 17:19] zqian commented on #747
I believe this is identical to issue #680

[2019-10-07 17:28] jonespm commented on #747
Oops, should have searched better for duplicate.

[2019-10-07 17:28] #747 closed

[2019-10-07 17:28] #746 closed

[2019-10-07 17:29] jonespm commented on #667
This also prints an issue if the big query query is incorrect #746

[2019-10-07 19:13] jennlove-um commented on #728
Testing passes.  Students are correctly seeing grades on assignments that they can see as graded in Canvas.

Testing was done for at least one student in all courses scheduled for fall 2019 in addition to test courses.

[2019-10-07 19:18] jennlove-um opened #750 "Make Assignment Planning aware of sections that could have different due dates"
## Expected behavior (A clear and concise description of what you expected to happen) :
When a Canvas course assignment has different due dates for each section, MyLA needs to show the correct assignment due date that applies to the individual student based on the section the student is in.

## Describe the bug (Tell us what happens instead of the expected behavior) :
Currently, assignments that h

[2019-10-07 19:22] jennlove-um opened #751 "Assignments are showing up with no name in Assignment Planning"
## Expected behavior:
All assignments that have been published to students display in the Assignment Planning tool with a name and percent impact on grade.

## Describe the bug (Tell us what happens instead of the expected behavior) :
On one course, there are 3 assignments that show up in Week 3 with 0% impact and no assignment name.

[2019-10-07 19:32] justin0022 commented on #751
I suspect this is fixed on the Assignment Planning redesign - but since the redesign will not be launched for a while this should be fixed regardless.

[2019-10-07 19:57] jonespm opened #752 "Possibility of revealing filenames before they are available."
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
The current cron process to get files calls
[code]

So the bigquery process pulls down all the files for a course, and the update_canvas_resour

[2019-10-08 15:30] jennlove-um commented on #716
I've created the group with the name MyLA Notify - Jenkins Errors (myla-jenkins-notify) .

So far, I've added myself, Matt, and Pushyami.  @pushyamig @jonespm What is the next step for this one?

[2019-10-08 15:33] jonespm commented on #716
I'll change Jenkins to email to this group. thanks!

[2019-10-08 15:34] jonespm commented on #716
I'd probably also put Sam and Zhen on it.

[2019-10-08 15:35] jonespm commented on #716
I've changed the prod and test jobs to this email address

[2019-10-08 15:36] jennlove-um commented on #716
Thanks!  I've added Zhen and Sam to the group.

[2019-10-08 15:42] jennlove-um commented on #717
Notes drafted in Google doc.

[2019-10-08 16:42] pushyamig opened #753 "Duplicate variables for holding Google analytics Id in myla_globals"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

## Describe the bug (Tell us what happens instead of the expected behavior) :
In `base.html` I see 2 variables for holding Google analytics id

[2019-10-08 16:54] jennlove-um commented on #691
This requirement was based on the mouse-over that currently shows on the progress bar, where lots of that information didn't show.  It makes sense to revise what shows up based on the new design.

What do you think about using the mouse-over to draw attention to points possible, your goal (if set), your grade, and average grade?  It would allow students to have all that info in one place for compa

[2019-10-08 17:01] jennlove-um commented on #744
testing passes.  I verified that there are no resources called "attachment" in the attachment table.  I tested adding a new file and accessing it as a student in Canvas.  The file shows up with the correct file name in MyLA.

[2019-10-08 17:03] justin0022 commented on #718
@ssciolla for the AssignmentPlanning redesign, I'm using the [popover](https://material-ui.com/components/popover/) component from Material-UI. I think we can do something similar for the ResourceAccessed view to make it consistent.

Here's my commit for the popover implementation: https://github.com/tl-its-umich-edu/my-learning-analytics/pull/702/commits/b1ceb421f5b5300cb6a335da280184e8ccfc20cd

[2019-10-08 17:04] justin0022 commented on #736
@ssciolla do you have thoughts on how this will impact your work on https://github.com/tl-its-umich-edu/my-learning-analytics/issues/673?

[2019-10-08 17:10] justin0022 commented on #691
For mousing over the individual assignment bars in the table, it may be worth showing the drop lowest/highest rules and the average grade.

For the main progress bar at the top, I'm not sure.

[2019-10-08 17:12] pushyamig commented on #392
I think there is a foreign key constraint is enabled if I Try to insert a non-existing course it is erroring saying
```[23000][1452] Cannot add or update a child row: a foreign key constraint fails (`myla_test`.`course_view_option`, CONSTRAINT `course_view_option_course_id_2efc2b59_fk_course_id` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`))```

I don't think we can test this unless you rel

[2019-10-08 17:13] jennlove-um commented on #691
For the main progress bar at the top, there's no need for any mouse-over
since we won't be showing individual assignments along that progress bar
any more.

Yes, let's add the rules to the individual assignment bars.  We also may
need to look at how we're getting those rules since Canvas allows for more
than just highest and lowest drops.  For example, one of our fall courses,
in addition to the d

[2019-10-08 17:41] ssciolla commented on #736
Thanks for asking, @justin0022. So far, I am only adding new imports for `createMuiTheme` and the `MuiThemeProvider` component. Looking at the Material UI 4 documentation, the former works the same and the latter is now called `ThemeProvider` but seems to work the same. I don't we should have a problem upgrading, at least on the theme front.

[2019-10-08 17:42] justin0022 commented on #736
Perfect, thanks for the heads up. Going to upgrade and test now.

[2019-10-08 18:11] jonespm commented on #683
Ok I tested it, I'm going to create a new issue to add demo_init.sh to the git ignore otherwise it comes up as an untracked file.

[2019-10-08 18:12] jonespm opened #755 "Add demo_init.sh to .gitignore"
# Expected behavior (A clear and concise description of what you expected to happen) :

As part of #683 we need to add demo_init.sh to the .gitignore file otherwise it comes up in the git status as untracked.

[2019-10-08 18:27] jonespm commented on #486
Going to close this as I think we'll just do graphql for all of this instead.

[2019-10-08 18:27] #486 closed

[2019-10-08 18:28] jonespm commented on #495
This was fixed in #540

[2019-10-08 18:28] #495 closed

[2019-10-08 20:55] jennlove-um commented on #727
@pushyamig  Can we close this one?  I think it was all tested in #728

[2019-10-09 13:51] pushyamig commented on #727
Closing this

[2019-10-09 13:51] #727 closed

[2019-10-10 18:11] jennlove-um opened #758 "Bring in all terms from Canvas to MyLA"
#164  Expected behavior :
All course terms, including those with no start and end dates, get added to MyLA to support Canvas courses using MyLA.  Courses with any term in Canvas should be allowed to be added to MyLA.

## Describe the issue :
The current cron query for terms errors when trying to get terms for Canvas courses using "No Term" or "Default Term."  Both of these terms have no start or e

[2019-10-10 18:36] jonespm commented on #758
The issue was here
https://github.com/tl-its-umich-edu/my-learning-analytics/blob/0837829e955e83fce99de87f7f34f8c25d83497b/dashboard/cron.py#L434

I think we can remove this EARLIEST_TERM_DATE setting now as we are pulling the term and syncing it up now. We used to have a dropdown people were forced to select from.

[2019-10-14 13:09] jonespm opened #759 "Re-do Dockerfile to avoid directly pulling in previous stage"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Describe the bug (Tell us what happens instead of the expected behavior) :
There's an issue with Openshift where the syntax of

`FROM ... AS ...
`
doesn't work if the AS target is built in a previous stage. We need to re-write t

[2019-10-15 15:44] zqian commented on #489
FYI: here updated link of UDP Documentation:

https://docs.udp.unizin.org/ucdm/canvas-to-ucdm.html

[2019-10-16 16:01] #755 closed

[2019-10-16 17:53] ssciolla commented on #758
I've started work on this issue, which you can see on [this commit from the issue-758-fetch-all-terms branch](https://github.com/ssciolla/my-learning-analytics/commit/be86c875adf3e036860cd834730840f9b5c32f16#diff-64b16f0fa7d7ac8585eaf90c3df4346cR435) of my fork.

@jonespm, so as you said, we can just modify the term query to pull in all the terms by removing the `WHERE` clause. If we do this, we s

[2019-10-16 18:32] #742 closed

[2019-10-17 15:48] jonespm opened #763 "Invalid symlinks in Docker when copying"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Describe the bug (Tell us what happens instead of the expected behavior) :
We're getting an error like this from certain versions of Docker
[code]

It looks like it's similar to this issue here.
https://stackoverflow.com/questio

[2019-10-17 16:23] #759 closed

[2019-10-18 13:40] jennlove-um opened #764 "Limit resources access view to show only events for enrolled students in the course"
##Expected behavior:
Resource access events for enrolled students only should be included in the percentage of people who have viewed an item.  Also, when anyone with any other role in the course views the page, they should not see blue bars to indicate which files they've viewed.

## Describe the bug:
Currently, with my login, I'm seeing files I viewed in the course showing up as blue in the visu

[2019-10-18 15:53] ssciolla commented on #748
This is related to issue #673, which I'm working on and hope to have a pull request soon.

[2019-10-21 13:54] jonespm opened #767 "Improve docker-compose file system performance"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
I've noticed that since we've switched to mounting the local filesystem via docker-compose that we have to restart less but the application just *feels* slower than it used to. It sounds like this is a known problem with Docker on OSX and Windows

![image](https://user-images.githubusercontent.com/274

[2019-10-21 16:55] jonespm commented on #767
Going to look at some of the stuff here too
https://docs.docker.com/docker-for-mac/osxfs-caching/

Maybe using either delegated or cached option instead would be good enough?

[2019-10-23 18:07] jonespm commented on #763
Here was some more info on the workaround

[2019-10-23 21:03] ssciolla commented on #485
I made some good progress on this today and worked with @jonespm to debug a couple issues. With the latest commits in my [issue branch here](https://github.com/ssciolla/my-learning-analytics/commits/issue-485-django-update), I was able to get the application to run (and collect data via the cron) using Python 3.7 and Django 2.2.6. We'll need to do more testing to make sure all the dependencies are

[2019-10-23 21:19] ssciolla opened #768 "User logging in throws error if course they were enrolled in has been deleted but cron was not run again"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

A user should be able to log in to MyLA without an error being thrown, regardless of their prior course affiliations or the state of the cours

[2019-10-24 13:46] ssciolla commented on #485
It's looking like issue #484 would also be addressed by my work on this.

[2019-10-24 17:30] jennlove-um commented on #691
@justin0022 Hi Justin - Are you at a point where it would be helpful to preview the AP view with our research team and have them provide feedback?  Based on prior experience, we usually end up going through several rounds of iteration once the researchers get a chance to look at a design and see how it works.

We have a standing meeting with the team on Thursdays at 2:30 pm ET, so if that time wor

[2019-10-24 17:34] jennlove-um opened #769 "Research Canvas data - Points data instead of percentages"
## Describe your problem or feature you'd like added
For more gamified courses, it would be better to show the Grade Distribution and Assignment Planning views.  Instructors for these types of courses emphasize points rather than grading by percentages earned.

## Describe the solution you'd like
Get grade and assignment data by points instead of by percentages from Canvas data.  Design the Grade

[2019-10-24 17:52] pelaprat opened #770 "CronJob is failing silently; AcademicTerms matching query does not exist"
We're noticing that the data is not updating in MyLA even though the cronjob is running every 5 minutes. It looks like you only get useful information in the logs if you set the log level to DEBUG (you might want to change). Anyway, we're seeing this:

[code]

We're not sure how to fix this – but it's generating this error every time the cronjob runs.

[2019-10-24 18:20] ssciolla commented on #485
@jonespm, speaking of SAML, I'm going to deploy this to test, and I'm pretty sure I'll find that the djangosaml2 library we're using will break, since it doesn't appear to support Django 2.2 (it doesn't appear to have been rewritten using Django 2 at least).

If or when that happens, we'll need to have an exit strategy for this dependency and a replacement. [`social-app-django`](https://github.com

[2019-10-24 19:20] ssciolla commented on #485
Update: I deployed to the test instance, and it didn't seem to break the SAML authentication. I was seeing a couple tracebacks (I think related to the Django Debug Toolbar and Watchman?). I'll need to do some more testing; it still seems like it might be a good idea to move away from `djangosaml2`.

[2019-10-24 19:30] jonespm commented on #485
I haven't really looked at anything else. For next year I'd probably prefer
just to be using LTI instead rather than the SAML integration. This was
just more convenient for us to setup at the time. It's also possible the
LTI module will need to switch as this is the only 1.3 library I can find.

https://pypi.org/project/PyLTI1p3/

On Thu, Oct 24, 2019 at 3:20 PM Sam Sciolla <notifications@github.c

[2019-10-24 19:32] ssciolla commented on #485
Hm... okay, but that would only solve MyLA; we may need to solve this problem for Student Explorer.

[2019-10-24 19:33] jonespm commented on #485
Student Explorer is on holiday after this release. ;) 🍹

[2019-10-24 19:34] jonespm commented on #485
Yeah, if it doesn't work we'll have to look at something else. This library wasn't my choice it was just already being used.

[2019-10-25 15:25] jonespm commented on #770
I know we have a silent failure on BigQuery failing #667 but haven't seen if it getting to update_course and failing.

My guess is that this bug is related or the same as to #758 where the terms are only pulled based on the setting EARLIEST_TERM_DATE. If you have any terms that are before that date (or courses with terms like DEFAULT TERM) it will silently fail as you mention.

For the next minor

[2019-10-25 15:27] jonespm commented on #758
@ssciolla Aside from the print I think your WIP looks good, can you create that as a PR? Also remove the EARLIEST_TERM_DATE setting from the settings and the sample config.

[2019-10-28 16:35] justin0022 commented on #691
Hi @jennlove-um, apologies for the late reply, just returned from vacation.

I'm happy to have the research team review the AP view, as I think the core features are implemented. The remaining tasks are listed on the PR here: https://github.com/tl-its-umich-edu/my-learning-analytics/pull/702

My only concern is that the view may appear broken due to https://github.com/tl-its-umich-edu/my-learning-

[2019-10-28 19:42] #736 closed

[2019-10-29 14:16] #758 closed

[2019-10-29 14:18] #684 closed

[2019-10-30 16:24] pelaprat commented on #770
Thanks – we'll wait until the next tag.

[2019-10-30 18:38] zqian opened #776 "reduce logging level to info when there is no user default setting for views"
There are several errors in the MyLA log files, related to no user setting for view defaults.  We need to reduce the log level to INFO instead.

Here are some examples of the redundant ERROR logs:

[2019-10-30 13:18:49 -0400] [243] [ERROR] Couldn’t get the default value for in course: %%% for user: %%% with default_view_type: resource due to UserDefaultSelection matching query does not exist.
[201

[2019-10-30 19:21] jennlove-um commented on #691
That's a great question.  Let's go with showing a warning for now.  I think this is one place that having the researchers weigh in will be helpful when they see it in action.

Speaking of having them take a look, could you be available to demo it next week, Thursday, Nov, 7, at 11:30 PT (2:30 ET)?

[2019-10-30 20:02] justin0022 commented on #691
A warning sounds good.

I can demo it on Thursday Nov 7th, but I won't be available until closer to noon. If I can demo on my machine and share my screen, we won't have to worry about fixing up the data.

[2019-10-30 20:09] jennlove-um commented on #691
Noon would be fine - I can schedule the agenda to talk about other issues first before you call in.

For the first demo, sharing your screen would be just fine.  Depending on how the discussion goes and how much feedback there is, we will likely spend several meetings talking about the new design.  If you're available for future Thursdays, that would be great as well.

[2019-10-30 20:12] justin0022 commented on #691
Perfect, I'm away Thursday Nov 14th but available the 21st and 28th.

[2019-10-30 20:14] jennlove-um commented on #691
I'll add you to the meeting for the 21st, thanks!  We won't be meeting on the 28th since it's the U.S. Thanksgiving holiday.

[2019-11-01 14:56] #753 closed

[2019-11-01 15:07] vjcao commented on #724
For this issue is it ok to word it like, "You have accessed this resource X times. The last time you accessed it was....?"

[2019-11-01 15:38] jennlove-um commented on #724
Yes, that should be fine.

[2019-11-01 17:41] jennlove-um commented on #752
Follow up with Matt.  Discussion raised the issue that only files that have been accessed by at least one student will show up on the list.  A file that is not available to students and has only been accessed by instructors would not be included in the list.

[2019-11-01 17:45] jennlove-um commented on #705
Retest this with the correct release branch.

[2019-11-01 17:45] #705 closed

[2019-11-01 18:32] ssciolla commented on #724
I'm reopening this since there was a small typographical error in the merged PR.

[2019-11-02 21:34] #724 closed

[2019-11-04 15:56] jonespm commented on #752
So maybe this similar to how we did the binning and shouldn't reveal any access stats until at least a certain number of users access the file. It still would probably be useful to filter out non-students but that might be a separate issue.

[2019-11-04 20:13] #763 closed

[2019-11-05 14:11] jonespm commented on #769
It actually *looks* like most courses are graded on points. I wonder why we went with percentages. I think this option sounds like a good one. Canvas provides the data of what the type is displayed but I feel like internally they still use points. . .

|grading_type|% of courses|
|---|---|
|letter_grade|2.06|
|percent|2.56|
|points|81.91|
|gpa_scale|0.03|
|not_graded|5.12|
|pass_fail|8.33|

[2019-11-05 14:58] pushyamig commented on #769
Yes, I think we should ask Canvas to make the point grade available in UDW. since it is right there sitting in one of their tables.

[2019-11-05 15:52] jonespm commented on #769
I'm not sure what you mean, submission_dim has score in points. We're calculating the percent toward final grade locally.

What I think this is describing is instead of having percent toward final grade we'd have points attained toward maximum points.

[2019-11-05 15:53] jonespm commented on #769
For instance in a gamified course, you want to show something like

600/5000 (points)
This is basically the same as showing
12% of 100% (which is what we're doing now)

But it's showing the points instead of percent on the bar.

[2019-11-05 22:08] ssciolla opened #779 "Frontend doesn't load when user is affiliated with a course with an apostrophe in the name"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

The application should be able to support courses with any name, including if the name has an apostrophe (e.g. "Sam's Course on Silliness").

[2019-11-06 13:29] jonespm commented on #779
I would fix this by refactoring the block in base.html that generates myla_globals into the backend.

If you created that as a map, run `json.dumps` on that and put it in the context, it will be properly formatted in the template. This looks like a cool solution too. https://stackoverflow.com/a/4699069/3708872

You might also just be able to target this specific field in the template with the [esc

[2019-11-07 15:16] jonespm opened #780 "Error with fresh install of MyLA on localhost for webpack-stats.json"
## Describe the bug (Tell us what happens instead of the expected behavior) :

Fresh install of MyLA gaves this error `at localhost:5001: Error reading /code/webpack-stats.json. Are you sure webpack has generated the file and the path is correct?`

This was related to a recent change in symlinks on #763. We're going to need to uncompress these when starting up the container locally.

[2019-11-07 16:15] #780 closed

[2019-11-07 17:52] ssciolla commented on #779
I think I have a fix for this; see my [issue-779-rework-myla-globals branch](https://github.com/ssciolla/my-learning-analytics/tree/issue-779-rework-myla-globals). It does what @jonespm suggested, as well as refactors a bit how the `CourseList` component appears to users with no affiliated courses. I'm going to do a bit more testing and then submit a PR.

[2019-11-08 15:19] zqian opened #783 "Address log error messages"
## Describe the bug (Tell us what happens instead of the expected behavior) :

There are many log waring messages, which clutter the log file:

Type I:

[WARNING] Not Found: /favicon.ico

Type II (Pandas related):

/usr/local/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
  | A value is trying to be set on a copy of a slice from a DataFrame.
  | Try using .loc[row_i

[2019-11-08 15:47] ssciolla opened #785 "CourseList component doesn't give useful feedback to admins, unenrolled users"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

Whenever a user successfully authenticates to MyLA, they should be greeted with some notification of what content they are able to view, even

[2019-11-08 15:48] ssciolla commented on #785
I've been working on a solution that refactors the `CourseLIst` so that both cases listed above receive the same feedback: an `AlertBanner` indicating that they are not enrolled in any courses with MyLA enabled. Once issue #779 is addressed, I'll submit a PR.

[2019-11-08 18:03] rpfernandezjr opened #786 "Can't Logout when logged in using SAML2"
## Expected behavior
Users session to be terminated and logged out when the logout button is pressed. Forcing them to have to re-authenticate to log back into the MyLA application.

## Describe the bug
We are logged in using SAML2 (Using Shibboleth), Once logged in, when a user selects `Logout` from the upper right corner, they are logged out and automatically logged back in.

## Steps to Reproduc

[2019-11-08 18:28] rpfernandezjr opened #787 "Environment variable override"
## Describe your problem or feature you'd like added
In order to deploy into a kubernetes infrastructure with more ease, I'd like the ability for any variables defined within the environment, to supersede any entries defined in the env.json file that is provided.

## Describe the solution you'd like
I'd like for [env_sample.json](https://github.com/tl-its-umich-edu/my-learning-analytics/blob/maste

[2019-11-08 18:59] rpfernandezjr opened #788 "Critical Vulnerability Alert"
# Describe your problem or feature you'd like added
I wasn't sure were to file this under, but I scanned the MyLa docker image against tenable.io security scanner, and a crticial vulnerability was detected.

Tenable.io flags this vulnerability at 9.8

CVE-2019-18218
[code]

*COMMON PLATFORM ENUMERATON (CPE)*
[code]

*PACKAGES*
file: 1:5.35-4
libmagic1: 1:5.35-4
libmagic-mgc: 1:5.35-4

## Additiona

[2019-11-11 18:12] pushyamig commented on #741
@jonespm what is property, I don't see this being used now. is this relevant? if yes give some example values
[code]

[2019-11-13 19:15] pushyamig opened #790 "Update the Node version to 12"
Currently, Docker steps for building the react module we are using Node11.10 version and his version is unsupported and update to Node 12 is the right way to go. More on the Node releases are [here](https://nodejs.org/en/about/releases/).

Node team seems to support the Even number version as long term support and odd versions an experimental.  More info on this [here](https://medium.com/swlh/unde

[2019-11-13 19:40] #790 closed

[2019-11-13 21:00] pushyamig opened #792 "Fix the Npm Warning message during the docker build"
[code]

[code]

[2019-11-15 15:47] #779 closed

[2019-11-15 21:18] vjcao opened #794 "Grade Distribution Showing Where Outliers Are"
## Expected behavior (A clear and concise description of what you expected to happen) :

Grade distribution should anonymize outliers so that students are not discouraged by seeing where they are in respect to the rest of the class.

## Describe the bug (Tell us what happens instead of the expected behavior) :
The current histogram groups outliers together but shows where they are in respect to th

[2019-11-18 00:15] jpyan opened #795 "need to switch the hyperlink & modify the word for the "File Accessed" in readme"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added
When click on the link for "Files Accessed" part in proj intro, it leads me to link https://sites.google.com/umich.edu/my-learning-analytics-help/home/files-accessed and it shows 404 not found.
<img width="904" alt="Screen Shot 2019-11-17 at 7 16 51 PM" src="https://user-images.githubusercontent.com/3

[2019-11-18 01:36] luctiger98 commented on #670
Hello, myself and a partner are currently students enrolled in EECS 481. We recently saw a presentation regarding MyLA in class and wanted to contribute to fixing an open source issue. We just wanted to let you know that we will be attempting to tackle this bug. We will return with further developments and questions if necessary.

[2019-11-18 02:35] emilychee commented on #685
Hi! My partner @apalmer16 and I are currently students enrolled in EECS 481. We recently saw a presentation regarding MyLA in class and wanted to contribute to fixing an open source issue. We just wanted to let you know that we will be attempting to tackle this bug!

[2019-11-18 02:36] emilychee commented on #787
Hi! My partner @apalmer16 and I are currently students enrolled in EECS 481. We recently saw a presentation regarding MyLA in class and wanted to contribute to fixing an open source issue. We just wanted to let you know that we will be attempting to implement this feature!

[2019-11-18 03:33] aberatne commented on #783
Hello, me and my partner are in EECS 481 and we would like to work on this issue if that's possible.

[2019-11-18 03:38] simsmat116 commented on #769
Hello, I am currently in EECS481 and would like to contribute to working on this enhancement for my contribution project. Would anyone be able to give some guidance for this task?

[2019-11-18 03:53] aberatne commented on #783
Hello, me and my partner are enrolled in EECS 481 and we are looking to contribute to an open issue. If possible, we would like to work on this issue.

[2019-11-18 16:33] ssciolla commented on #462
We have a newer issue about this, but I want to establish the link so we close both. It's issue #673.

[2019-11-18 17:54] justin0022 commented on #670
Thanks @luctiger98, we appreciate your help! Don't hesitate to ask us if you have any questions.

[2019-11-18 17:54] justin0022 commented on #685
Thanks @emilychee, we're happy to help if you run into any difficulties.

[2019-11-18 17:59] justin0022 commented on #795
Good catch, thanks!

[2019-11-18 18:01] #795 closed

[2019-11-18 18:56] justin0022 commented on #691
@jennlove-um, another question for you. In the following case:

1. Student sets a goal grade for course and some individual assignments.
2. One of the assignments the student set a goal for gets graded.

What should happen to the assignment goal grade that was set? Should we show them what goal they set and what they actually achieved?

[2019-11-18 19:17] justin0022 commented on #787
Thanks @emilychee, we appreciate your help!

[2019-11-18 19:17] justin0022 commented on #783
Thanks @aberatne, let us know if you run into any difficulty.

[2019-11-18 19:21] justin0022 commented on #769
Hi @simsmat116, I think this is a fairly large feature with many different underlying components. Is there a specific component you'd be interested in implementing? I imagine there is considerable work to be done both in the front and back-end - do you have a preference?

[2019-11-18 21:17] simsmat116 commented on #769
Hi @justin0022 ,  would I be able to work on the back-end relating the Grade Distribution part of this issue?  I could also work on the front-end component for this as well depending on how long it takes to work on the back-end. I am looking to spend at least 12 hours of designing the changes, implementing them and testing them. Would you say this would be reasonable? Thanks!

[2019-11-18 21:19] justin0022 commented on #769
I think that's reasonable. What do you think @jonespm & @pushyamig?

[2019-11-19 05:58] kwanhlee commented on #794
Hi, I am a student taking eecs481 and my team needs to make a contribution to an open source project. I got interested in this project as they have presented my-LA in our class. Would it be okay if my team tackles this bug and update you in our development process?

[2019-11-19 11:00] naeunk commented on #694
Hello, I am currently a student enrolled in EECS 481. My partner and I were wondering if it is possible to contribute to fixing this issue. Thanks.

[2019-11-19 13:08] jonespm commented on #741
It might be better to create this as a live settings package instead
https://djangopackages.org/grids/g/live-setting/

[2019-11-19 13:15] jonespm commented on #787
In the code we should have defaults defined that match the json but inevitably that does get out of sync with an external configuration file.

For instance the settings.py has
`DEBUG = ENV.get('DJANGO_DEBUG', True)`

I'd personally like to switch to defining most of the settings in Django admin using a [live settings package](https://djangopackages.org/grids/g/live-setting/). I'm not sure which on

[2019-11-19 13:44] zqian opened #797 "The visualization of Resource Accessed view is not keyboard accessible"
## Expected behavior (A clear and concise description of what you expected to happen) :

User should be able to navigate the Resource Accessed view using keyboard Tab key.

## Describe the bug (Tell us what happens instead of the expected behavior) :

Using Tab key, user is not able to get into the Resource Accessed visualization.

## Steps to Reproduce :
1. Open Resource Accessed view for a cours

[2019-11-19 14:09] zqian opened #798 "The Contrast between "Resources I haven't viewed" and "Resources I've viewed" is minimal"
## Expected behavior (A clear and concise description of what you expected to happen) :

Contrast betweem "Resources I haven't viewed" and "Resources I've viewed" should be increased to assist with Color Impaired users

## Describe the bug (Tell us what happens instead of the expected behavior) :

Color impaired users will not be able to tell at a glance the difference between "Resources I haven't

[2019-11-19 15:01] jennlove-um commented on #691
Yes, we should show both the goal and the actual when an assignment gets graded.  In the mockup below, the Group project on 10/15 was graded after an assignment goal was set.  The assignment bar shows the green line where the student goal was and the blue color shows the actual grade on the bar and the score captures the actual score (no longer shows the goal score).

So the student can see that t

[2019-11-19 15:20] zqian opened #799 "Assignment "Percent of final grade" bar needs to be readable by screen reader software"
## Expected behavior (A clear and concise description of what you expected to happen) :

In Assignment Planning view, the Due by Date table is well constructed, but the SVG bar of "Percent of final grade" need to be readable by screen reader software

## Describe the bug (Tell us what happens instead of the expected behavior) :

Blind persona will not be able to read the score values of  the SVG b

[2019-11-19 16:09] ssciolla commented on #799
We should try to address this as part of issue #691 and PR #702.

[2019-11-19 16:12] ssciolla commented on #798
This is being addressed by PR #775 and is related to issue #748.

[2019-11-19 16:27] ssciolla opened #800 "Data in the hover over on assignment bar elements in the list of assignments can't be navigated to using keyboard"
## Expected behavior (A clear and concise description of what you expected to happen) :

Users should be able to navigate to or access all content in the Assignment Planning view by using the keyboard.

## Describe the bug (Tell us what happens instead of the expected behavior) :

From the 10/28/19 accessibility review:

"Progress toward Final Grade table elements are not keyboard operable. ... So

[2019-11-19 16:35] justin0022 commented on #691
Ah that makes sense! Thanks for clarifying.

[2019-11-19 16:42] ssciolla opened #801 "Views lack prominent headers or titles"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

Each view should have a clear heading or title so that all users will clearly understand when a view or route change has occurred.

## Describ

[2019-11-19 16:43] justin0022 commented on #801
I appreciate all of these accessibility issues. It'll take time to implement but well worth the effort.

[2019-11-19 16:48] vjcao commented on #794
@kwanhlee thank you for your interest in this issue but I already assigned myself and began working on this issue.

[2019-11-19 16:49] vjcao commented on #694
Thank you @naeunk , let us know if you run into any difficulty.

[2019-11-19 16:54] ssciolla opened #802 "Ticks and text on some visual elements have poor contrast"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

All tick marks and informational text in charts and visualizations should have a contrast ratio with the background that meets WCAG AA accessi

[2019-11-19 17:24] ssciolla opened #803 "Difficult to tell what element in DashboardAppBar currently has focus"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

When using the keyboard (Tab keyboard button) to navigate through links and options on the `DashboardAppBar` component, users should be able t

[2019-11-19 18:11] justin0022 commented on #661
Great @huynhdom let us know if you need a hand

[2019-11-19 19:43] ssciolla opened #804 "Can't operate hamburger menu using keyboard"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

Users should be able to navigate through and select the options in the hamburger menu using the keyboard (Tab and Enter).

## Describe the bug

[2019-11-19 19:50] ssciolla opened #805 "Colors for selected, unselected states on RangeSlider have poor contrast"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

There should be a high enough contrast ratio (WCAG AA, 4.5 to 1) between the selected and un-selected portions of the `RangeSlider` component

[2019-11-19 19:52] ssciolla commented on #805
This will likely be addressed by the changes in PR #775, but I'll confirm the contrast ratio meets the mid-range level.

[2019-11-19 20:43] ssciolla opened #806 "Snackbar may not be visible long enough for some users"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

When a user makes a change that triggers a Snackbar, the Snackbar should be visible long enough that the majority of users can read or perceiv

[2019-11-19 21:16] ssciolla opened #807 "HTML containers and headers are not consistently structured or labeled"
## Expected behavior

The structuring and labeling of container and heading HTML element should be consistent across all pages of the application.

## Describe the issue

From the 10/28/19 accessibility review:

<details>
<summary>(See review documents…)</summary>

</details>

"Content is indifferently structured. This becomes important for the blind persona. … Header and footer are identified pro

[2019-11-20 15:16] jacobmal commented on #301
Hi, my EECS 481 partner (luctiger98) were looking at adding this enhancement too. We were added to the google sheet for tracking the 481 student assignments. Should I add a row to the sheet with this issue and my uniqname?

[2019-11-20 16:10] jonespm commented on #301
Yeah, sure go ahead and keep the sheet updated so we can better track who's working on what. We plan to assign people have committed to issues to the issues by the end of the week.

[2019-11-20 16:14] jonespm commented on #301
It might be too much work to do every python class for this. If you want to break it up into a subtask and only get to views, models or some other class that would still be a nice improvement for us.

Something like this might be of assistance: https://stackoverflow.com/questions/44057003/how-to-annotate-django-views-methods

[2019-11-20 16:16] #788 closed

[2019-11-21 01:06] rpfernandezjr commented on #770
This still seems to be happening. I was moving things around and tried connecting to a database that MyLA didn't have access too. It exited with a status code of 0 and the python stack trace was thrown, but it is logged as a DEBUG level message.

[code]

I think we want to log these stack traces at an ERROR log level, so they aren't hidden.

[code]

We should also exit with a non-zero exit status

[2019-11-21 22:30] justin0022 commented on #691
@jennlove-um, here's what it looks like when the "Percent of Final Grade" bar is moved into "Score/Out Of" column.

**Before:**
<img width="1920" alt="Screen Shot 2019-11-21 at 2 08 16 PM" src="https://user-images.githubusercontent.com/8836578/69382180-61333000-0c6b-11ea-8281-e5459c0a52d8.png">

**After:**
<img width="1917" alt="Screen Shot 2019-11-21 at 2 29 32 PM" src="https://user-images.github

[2019-11-22 02:09] apalmer16 commented on #787
So if we decided to test using django-constance, would we install the redis backend or database backend?

[2019-11-22 21:17] jonespm commented on #787
Just use the MySQL database backend that's already in the docker-compose and used for the application.

[2019-11-22 21:38] jonespm commented on #769
I was talking to @jennlove-um  about this the other day and I'm not 100% sure of the desire here. This is the Canvas data dictionary: https://portal.inshosteddata.com/docs

The assignment_dim defines grading_type (which we aren't currently pulling in) however everything is still always in points_possible. I think MyLA is changing this over to a percentage scale. I didn't write the code for this vi

[2019-11-25 16:49] simsmat116 commented on #769
@jonespm I was working on creating the new column in the course table and was not sure how to ensure that this additional column will be captured. Is there a database schema file that I should edit or should I go about this a different way? Thanks!

Also, I have the field configurable from the admin portal and have also made sure that the back-end response for assignment planning is capturing the

[2019-11-25 18:51] justin0022 commented on #691
We should decide what the warning message should be for this case. A "Math may no longer add up" isn't very helpful but it is difficult to fit a wordy message in this space.

<img width="1127" alt="Screen Shot 2019-11-25 at 10 47 56 AM" src="https://user-images.githubusercontent.com/8836578/69568849-3c8fce80-0f71-11ea-9d50-0945064223dd.png">

[2019-11-27 00:48] jpyan opened #810 "unaccessible urls in read.me"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
(With data myla_test_data_2019_10_16.sql loaded into the database) When logged in as admin and click on  http://localhost:5001/courses/231768 o

[2019-11-27 01:17] jpyan commented on #806
Hey I'm trying to look into this bug yet I can't trigger any snackbars. Would it be possible that you give a more specific reproduce steps (screenshots are helpful too)? Thanks!

[2019-11-27 01:21] jpyan commented on #764
Hey I'm trying to look into this bug yet I can't seem to see any blue file from the admin side for any courses. For example, for course id 362855, it shows blue on student's view, but no blue in admin view. Is it already being fixed? If not, would you provide a more specific example to reproduce that bug? (Screenshots would be helpful too)

[2019-11-27 01:43] jacobmal commented on #670
Hello, me and @luctiger98 have been working on this bug and we think we've solved it. Now, if a user accesses a course that is not found (404) they will see:
![404-Not_Found](https://user-images.githubusercontent.com/46611530/69679999-a1cde780-1077-11ea-8b55-cd415adf8a76.png)

And if they access a course that they do not have permission to view (403) they will see:
![403-Forbidden](https://user-im

[2019-11-27 14:42] ssciolla commented on #806
@jpyan, sure, I'll update the description with a few more details momentarily.

[2019-11-27 14:58] jonespm commented on #769
Yeah, it can be hard to test issues relating to database changes because we pull our data from a source that doesn't have a test instance.

There's no schema file you need to edit, just change the model.py, execute `manage.py makemigrations` in the container and that should write out the migration.

You'd just have to write the cron code that would populate it and we'll re-generate the sample SQL.

[2019-11-27 16:04] simsmat116 commented on #769
@jonespm Ok I ran the migration and it seems to have worked. I was populating the field for testing via the admin portal. Is this alright or should I go ahead and write some SQL to populate this?

Also, I currently have the myla_grading_type field options as (Percentage, Points, or Both) and was wondering if Both is necessary for the changes I am making. I was able to display two ProgressBars on t

[2019-11-27 16:06] jennlove-um commented on #764
Thanks for asking the question - the issue isn't really with the admin view.  That was my first pass at understanding what was going on.  I'll update the description.  But I've also put some more detail below.

For this bug, the issue is that only users with an enrollment type of "StudentEnrollment" in the user table should have their resource access events get counted and included in the visualiz

[2019-11-27 18:18] justin0022 commented on #806
@jpyan if you go to the GradeDistribution view, you should be able to trigger the snackbar by clicking on the `Show my grades` checkbox.

[2019-11-27 18:21] justin0022 commented on #810
Thanks for catching this. @jonespm are the course IDs randomly generated every time the deidentifier is rerun? If so maybe we should remove hard-coded URLs to specific courses in the README.

[2019-11-27 18:48] jonespm commented on #810
Yeah, if we generate the new courses from different original courses the ids change. We were thinking of ways to keep ID's like this more static but haven't figured it out yet. We could also just be more consistent about generating courses from the same source course too.

[2019-11-27 18:50] justin0022 commented on #810
Okay perhaps for now we can remove links in the README to specific courses. @jpyan do you mind taking this on?

[2019-11-27 18:57] jpyan commented on #810
Sure, I can work on that.

[2019-11-27 19:27] jpyan commented on #806
Thanks, I can see now.

[2019-11-27 19:45] jpyan commented on #764
Thanks for your reply. So with "requires going into Canvas as someone with a different role on a course (TA, Teacher, Designer, etc.) and clicking on a file", does that mean if I'm not a teacher nor some other role instead of students, I can't reproduce this bug?

[2019-11-27 20:04] jennlove-um commented on #764
You wouldn't necessarily have to go into Canvas.  But you do need to have a user in the user table that has an enrollment_type other than StudentEnrollment.  For example, TeacherEnrollment, TaEnrollment.

You also have to have an entry in the resource access table for that same user.

If you have a user with that type of enrollment who has accessed a resource, then you could masquerade as that use

[2019-11-27 21:25] justin0022 opened #812 "Make JavaScript comply with Standard linting"
Per my discussion with @ssciolla here: https://github.com/tl-its-umich-edu/my-learning-analytics/pull/775, I'm going to make every file conform to the linting rules of [Standard](https://standardjs.com/) and add a note about linting in the `CONTRIBUTING` doc.

[2019-11-27 23:20] justin0022 commented on #806
You may find this line helpful to consider: https://github.com/tl-its-umich-edu/my-learning-analytics/blob/master/assets/src/components/UserSettingSnackbar.js#L35

[2019-11-27 23:23] #810 closed

[2019-12-01 16:26] zqian commented on #769
I think the display is either by Percentage or by Points, not both. Admin can set the option for course, since we do not support instructor settings, yet.

[2019-12-02 05:58] jpyan commented on #806
I'm confused on  "then show for 50ms for each of the characters in the message." part. So currently the default is set to 3000 ms. And say if I have a message saying "Setting saved successfully!" (which is already longer than some other messages may shown up), it has 27 characters and the time duration will be 1350ms according to the review suggestion. Wouldn't that be worse than before?  Would it

[2019-12-02 06:48] jpyan commented on #806
Also, by adding "role=alert", I suppose you want the user not able to close a Snackbar. Then I think I can delete
action={[
        <IconButton
          key='close'
          aria-label='close'
          color='inherit'
          onClick={() => setSavedSnackbarOpen(false)}

          <CloseIcon />
        </IconButton>
      ]}
and  const [savedSnackbarOpen, setSavedSnackbarOpen] = useState(false

[2019-12-02 18:06] pushyamig opened #814 "Update readme with steps to run Myla on Windows machine"
Currently Windows 10 Home users are having issues running locally in the docker container We've only tested here on Mac and Linux. One option is To run [Docker with Vitualbox on windows](https://medium.com/@peorth/using-docker-with-virtualbox-and-windows-10-b351e7a34adc).

[2019-12-02 20:56] simsmat116 commented on #769
@zqian I have set up the Percentage display and Point display for both the Grade Distribution and Assignment Planning views. I have also written tests for these as well. I was wondering what the expectation was relating to actually populating the new field (myla_grading_type) in the _course_ table in the database. Should I write something in the cron job (such as just populating all course to disp

[2019-12-03 04:56] wangyis commented on #764
Could you clarify where to set this up and changing the enrollment type? Do you mean adding groups in the root admin panel? Or do we need to hand-code in somewhere else?

[2019-12-03 13:21] pushyamig commented on #769
@simsmat116 Regarding the Point vs percentage for Assignment view I would suggest to focus on Grades distributions due to the intricacy  of that assignment view and current [redesign](https://github.com/tl-its-umich-edu/my-learning-analytics/pull/702) going of it. This is a research issues so if your focus is grades view then will can be simple

[2019-12-03 13:36] simsmat116 commented on #769
@pushyamig I have already finished up working on the Assignment Planning view changes, both back-end and front-end, but I can revert these changes if needed. I have also completed the changes needed for the Grade Distribution and was planning on making a pull request in the next day or two. Let me know if I should remove the Assignment Planning changes when making a PR.

[2019-12-03 13:43] pushyamig commented on #769
@simsmat116 in that case have 2 separate Pull requests one for grades and another for Assignment   so that way you can still earn points for the effort  you did and we also get see your approch as well as I said this is a reaseach issues any effort don't go waste

[2019-12-03 13:54] pushyamig commented on #769
Regarding the `myla_grading_type` new column addition to the `course` table, this is not a solution but the idea.
1. create a `CharField` column in the course table in `models.py` that takes either `points` or `percent` option in that column, default it to percent
2. From the Admin view for the course expose it such that Admins can configure it to points or percentage. Based on the selection the t

[2019-12-03 13:56] jennlove-um commented on #764
In the user table, there is a column called "enrollment_type."   For the sample data, all rows have "StudentEnrollment" in that column.  You could manually change the enrollment type in that column for one of the users to "TeacherEnrollment" to set that person up as a teacher instead of a student.

You shouldn't need to add any groups or make any changes on the admin panel via the UI.  You can man

[2019-12-04 02:40] wangyis commented on #764
I am having a struggling time finding the place where the project draws the chart about the resource accessed and the place where the python program accessing the SQL data about the resource accessed. Could you give us more details about the project?

[2019-12-04 04:39] wangyis commented on #764
I want to add a condition to judge if the enrolment type is 'student' before the website makes the histogram about the resource accessed. Hope this information helps!

[2019-12-04 20:59] jennlove-um commented on #764
@pushyamig @zqian @jonespm or @ssciolla - Can one of you help out with the questions on this one?  Once we're in code-land, we're out of my area of expertise!

[2019-12-04 22:03] pushyamig commented on #764
@wangyis, I Am assuming you can reproduce the bug with @jennlove-um instructions.
The Python code to look at is `views.py` and function `resource_access_within_week`
The way the resource access works is but will get the class aggregate data of resources accessed and then the user personal resources accessed  data.

When I checked the code where we pull the aggregate data from [L229-237](https://gi

[2019-12-04 22:11] pushyamig commented on #764
On the other end I was trying to thing why not fix this in `cron.py` when we are pulling the data from Big query. Only pull student data based on the `memership.roles` attribute in the caliper data. Here is the BigQuery query
[code]
`JSON_EXTRACT_SCALAR(event, '$.membership.roles') as role = 'Learner',` `$.membership.roles` this returns a list my query is not accurate I need to figure how to match

[2019-12-05 14:50] jennlove-um commented on #728
since testing passes and this issue was resolved by #727, I'm closing this one as well

[2019-12-05 14:50] #728 closed

[2019-12-05 14:51] #717 closed

[2019-12-05 22:37] ssciolla commented on #806
@jpyan, thank you for your work on this, I will think more about your questions and approach tomorrow and get back to you. I apologize for the delay.

[2019-12-06 14:59] aberatne commented on #783
Hello, I don't see a log file anywhere in the directory. How do I generate the log file?

[2019-12-06 15:29] ssciolla opened #821 "Make primary UI color configurable"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added

Different institutions should be able to modify the `primary` structural color, which is currently a UM blue (#40658F).

## Describe the solution you'd like

To keep this simple for now, I think I will make this color configurable through `env.json` (`env.json` -> `settings.py` -> `views.py` (`myla_g

[2019-12-06 15:49] ssciolla commented on #806
Hi @jpyan, here are some thoughts on your questions:

1) Duration: I agree with your assessment that the times set out in the issue are confusing, in that they would result in shorter Snackbar duration. The [Material Design](https://material.io/components/snackbars/#behavior) spec suggests somewhere between four and 10 seconds, which makes more sense to me but is not very specific. I will follow u

[2019-12-06 20:53] ssciolla commented on #806
Regarding 1. above, I contacted our accessibility expert, and he things we stick to the Material Design guidelines. To that end, please try 150 ms and 200 ms per character and choose whichever you feel provides the most seamless experience (I would lean towards longer if you're unsure).

[2019-12-06 23:40] jpyan commented on #806
Hey for your suggestion 2,  before I thought the only reason to include "role=alert" is because you don't want the user to be able to close the Snackbar. And since now you still want the close function, then I believe there is no need to add "role=alert" and no code is need to be deleted. My interpretation for "role=alert" is from below found in https://material-ui.com/zh/components/snackbars/
<im

[2019-12-08 18:10] ssciolla commented on #806
Hi @jpyan, this is interesting. It seems the reason for adding the `role` property to the message is to help accessibility technologies process the notification; see [W3C ARIA recommendation](https://www.w3.org/TR/wai-aria-1.1/#alert), linked to in the link you shared.

Here's the way I interpret the Material Design page for our purposes: we aren't requiring that users close the Snackbar themselve

[2019-12-08 20:20] jpyan commented on #806
Hi @ssciolla, thanks for your reply. In terms of testing: by hitting tab once / twice depending on the view, it does show that Snackbar has focus. And it can be closed by press Enter/Return. This is tested before I added the "alertdialog".

Yet the make sure I follow the documentation, I still decided to add role =  alertdialog value using the ContentProps property since it is aligned with our aim

[2019-12-09 15:51] jonespm commented on #783
The logs are from the docker logs. If you start up the application detached with

`docker-compose up -d --build`

You can look at the logs with the command
`docker logs student_dashboard`

You can also start it up not detached then the logs will be in the console, but if you close the console the application will stop.
`docker-compose up --build`

[2019-12-09 16:19] aberatne commented on #783
Thanks for the help. Does the event_logs_types.py file control the event logs for the three views: resources accessed, assignment planning, and grade distribution? I didn't see any other files that address log events. Is there any other way to better organize the log error messages?

[2019-12-09 16:26] aberatne commented on #613
I noticed that saving the course object after converting canvas id to incremented id will update the course view options after saving the course.

[2019-12-09 16:36] aberatne commented on #613
I was trying to override the save_model() function using save(force_update=True). Is it possible to do something like this to ensure that the course instance gets the updated id instead of creating a new instance?

[2019-12-09 17:35] ssciolla commented on #719
We had an EECS student try to update the README to better reflect the changing course id values. In thinking about those changes (which I had them remove), I had the following idea:

I feel like with the changes introduced in PR #761, we probably shouldn't be listing any hardcoded course values and just instruct people to use the admin interface. So instead, under `Logging in as an administrator`,

[2019-12-09 17:45] ssciolla commented on #719
Wups, I guess some of this has already been addressed by PR #811. I still think relying on the Django admin might be a good idea.

[2019-12-09 20:40] jonespm commented on #783
The definitions in that file are what gets logged into the database by the pinax.eventlog. This is different than the error messages that are mentioned on this ticket.

To fix these someone would probably have to look at the 3 lines mentioned in the warning
  | /code/dashboard/views.py:452: SettingWithCopyWarning:
  | /code/dashboard/views.py:454: SettingWithCopyWarning:
  | /code/dashboard/views.

[2019-12-09 22:59] aberatne commented on #783
I didn't see any warnings like this.

Here's what I got by doing docker logs student_dashboard:

`Waiting for DB
Setting Git info variables
Running python startups
[2019-12-09 17:48:43 -0500] [17] [DEBUG] (0.002) None; args=None
[2019-12-09 17:48:43 -0500] [17] [DEBUG] (0.001) None; args=None
[2019-12-09 17:48:43 -0500] [17] [DEBUG] (0.036) None; args=None
[2019-12-09 17:48:46 -0500] [17] [DEBUG]

[2019-12-10 00:55] jonespm commented on #783
It looks like these errors are in the assignment view. You're going to have to load the sample data (as the README indicates) login, and go to look at the various views. This code has likely moved from November 8th but it would be in assignments in the views.py.

[2019-12-10 03:34] rpfernandezjr opened #824 "Make the entityid value within the SAML_CONFIG dict configurable"
## Describe your problem or feature you'd like added

In order to make MyLA multi tenant, We run MyLA behind a proxy. I'd like to be able to set

[code]

to a value that I provide via the environment/configs. Right now it's hard coded to

[code]

## Describe the solution you'd like

Making that value configurable from the ENV.

[code]

## Describe any possible alternatives you've considered
There

[2019-12-10 14:36] jonespm commented on #824
Sam did make that configurable for another of our projects basically the same way in https://github.com/tl-its-umich-edu/student_explorer/pull/188 but I'd wanted to rewrite this entire SAML block so it was all configurable via JSON on #741 and haven't done that yet. This might be the quick fix if you wanted to fix it similar to that. We didn't end up needing that fix though and just used the defau

[2019-12-10 15:41] rpfernandezjr commented on #824
Ah ok thanks, I'll start forking for any contributions moving forward. I can hold out for https://github.com/tl-its-umich-edu/my-learning-analytics/issues/741 or for https://github.com/tl-its-umich-edu/student_explorer/pull/188 to make it into master.

[2019-12-11 19:59] jennlove-um opened #826 "Show MiVideo (Kaltura) media in Resources Accessed view"
MiVideo (Kaltura) files should be included in the Resources Accessed.  They should be considered video files (like Lecture Capture).

[2019-12-11 20:00] jennlove-um commented on #826
I couldn't find another issue that was specific to Kaltura, so I created this issue for tracking the status of this development and testing.

[2019-12-11 20:21] ssciolla commented on #489
Okay, I have put in some initial work that hopefully get us organized, or at least start thinking about this more. I've identified in the following queries from `cron.py` that will need to be re-written to use data from the UDP.

- [] A term query from `update_term`
- [] A course query from `verify_course_ids`
- [] A user query from `update_user`
- [] An assignment group query from `update_groups`

[2019-12-11 20:23] jennlove-um commented on #800
Hold off on this one and revisit after the Assignment Planning redesign, since it may not be an issue after that.  Assignments & mouse-over won't exist in the new view.

[2019-12-11 20:28] ssciolla commented on #489
In speaking with @jonespm, I'm now thinking that this may be the right (if not the ideal) time to talk about our current MySQL data model. I will create an EER diagram for us to look at in our next meeting.

[2019-12-12 16:26] johnpj commented on #826
Sample query for extracting MiVideo data:

SELECT
JSON_EXTRACT_SCALAR(event, "$.object.extensions.kaf:course_id") as course_id,
JSON_EXTRACT_SCALAR(event, "$.object.name") as media_title,
JSON_EXTRACT_SCALAR(event, "$.actor.name") as actor_name,
JSON_EXTRACT_SCALAR(event, "$.actor.id") as actors_id,
*
FROM
`udp-umich-prod.event_store.events`
WHERE
ed_app LIKE '%mivideo%'
AND
JSON_EXTRACT_SCALAR(ev

[2019-12-12 20:54] jennlove-um commented on #693
Feedback from today's MyLA meeting for revising this view:

- [ ] Add the icon next to the checkboxes for the files type at the top as well to make it clear which icon is associated with each file type
- [ ]  Make the icons the same color blue as the file name link text
- [ ] Make the amount of white space consistent between the icon and the file name
- [ ] Review the fonts on the page to make sur

[2019-12-12 21:10] jennlove-um commented on #691
Hi Justin - the research team here at U-M looked at the Assignment Planning view again this week and had additional feedback (and redesign).  Do you have some time next week to talk with Pushyami and I about this?

Feedback:
- Simplify the page by removing the Current Grade and Max Possible Grade text from below the grade bar.  Instead, put the percentages on the lines for Current and Max Possible

[2019-12-12 21:40] zqian opened #827 "in cron job, use batch select for artifacts across all courses, instead of doing one course at a time"
## Expected behavior (A clear and concise description of what you expected to happen) :
There is still room for improvement for database select in cron.py

## Describe the bug (Tell us what happens instead of the expected behavior) :

It looks like the util_function for executing database query is called for each course separately, for various objects.

For example, https://github.com/tl-its-umich

[2019-12-13 00:54] justin0022 commented on #691
Hi @jennlove-um - no problem, I’ll be available next week. Let me know what date/time works best for you and Pushyami.

[2019-12-13 14:36] jonespm commented on #767
I've been [reading more about this](https://engageinteractive.co.uk/blog/making-docker-faster-on-mac) and using :delegated seems like it will work fine. OSX is significantly slower than Linux and we don't need changes in the container to be immediately reflected on the host for the MySQL instance, and we'll have to test for the rebuilds if :cached or :delegated is the better option.

[2019-12-16 19:22] justin0022 commented on #767
We're both on OSX @jonespm

[2019-12-17 21:34] rpfernandezjr opened #829 "Failure when inserting into the resource table."
## Expected behavior (A clear and concise description of what you expected to happen) :
When the cronjob runs the query against Big Query, The `resource` table should be populated with the needed values.

## Describe the bug (Tell us what happens instead of the expected behavior) :
When the cronjob runs, the following error is being thrown when attempting to insert data into the `resource` table:

[2019-12-17 21:46] vjcao opened #830 "New Styling on Hyperlinks Does not Appear on Browsers Other than Firefox"
## Expected Behavior:
PR #775 tried to make MyLA's styling consistent and accessible to users. This PR changed the way hyperlinks looked by allowing them to have two colors: one color for visited (#551A8B) and one for normal links (#0000EE).

Firefox:
![Screen Shot 2019-12-17 at 4 40 38 PM](https://user-images.githubusercontent.com/33735083/71036800-5cd42880-20ec-11ea-88c4-9d0115ce9f33.png)

## De

[2019-12-18 15:00] #707 closed

[2019-12-19 19:08] lsloan commented on #826
Hi, @jennlove-um & @johnpj.

Zhen suggested this would be a good first issue for me.  I've not run MyLA locally yet, so I will need to get that up and running first.

[2019-12-19 20:31] jennlove-um opened #832 "Modify cron job to only pull data for current (active) courses based on course start/end dates"
Only pull course data for courses that are currently active in Canvas based on the start and end dates.  If today's date falls within the start and end dates, then pull the data for the course.

[2019-12-19 20:35] jennlove-um commented on #826
It would be great if you could help get this working.  Thanks!!

[2020-01-03 15:41] #767 closed

[2020-01-03 15:44] jonespm commented on #693
I believe this should all be resolved via #766. If there's any parts missing we'll have to re-open, so will need to verify.

[2020-01-03 15:44] #693 closed

[2020-01-03 15:46] jonespm commented on #829
This was fixed by #831

[2020-01-03 15:46] #829 closed

[2020-01-03 15:48] jonespm commented on #814
I might wait until WSL2 is released in which is expected in [20H1 in Spring 2020.](https://www.howtogeek.com/438830/whats-new-in-windows-10s-20h1-update-arriving-spring-2020/)

This hopefully will make the build better.

[2020-01-03 16:04] #806 closed

[2020-01-03 16:07] jonespm commented on #786
For us we've got
DJANGO_LOGOUT_REDIRECT_URL=https://shibboleth.umich.edu/cgi-bin/logout

So it goes to the actual link that will log you out. This will be different for other schools.

[2020-01-03 17:25] justin0022 opened #833 "Add show_grade_type field into test sql file"
## Expected behavior (A clear and concise description of what you expected to happen) :
MyLA courses do not display with the latest master and latest sql file.

## Describe the bug (Tell us what happens instead of the expected behavior) :
`myla_test_data_2019_10_16.sql` file doesn't have the `show_grade_type` field, causing the course `info` endpoint to fail with the error message attached below.

[2020-01-03 17:49] justin0022 opened #834 "TypeError: list indices must be integers or slices, not str"
## Expected behavior (A clear and concise description of what you expected to happen) :
With latest master, getting a TypeError on homepage. Probably relates to https://github.com/tl-its-umich-edu/my-learning-analytics/commit/177816663c337f83740e3a75f3ead15a5c509ca3.

I updated my `env.json` `RESOURCE_VALUES` to:
[code]

## Describe the bug (Tell us what happens instead of the expected behavior) :

[2020-01-03 18:39] jonespm commented on #834
Were you still getting this error after the config update or are you saying you had to update your config to get the error to go away?

[2020-01-03 18:41] justin0022 commented on #834
I was still getting the error after I changed my config.

[2020-01-03 18:42] jonespm commented on #833
Yeah, this should run fine if you just migrate but we'll need to include this in the next SQL script.

[2020-01-03 18:42] justin0022 commented on #834
Here's the full Python error log:

[code]

[2020-01-03 18:42] justin0022 commented on #833
Thanks!

[2020-01-03 18:44] jonespm commented on #834
Yeah, hmm, I got that error too but change the config then I didn't get the error anymore. I'm seeing some formatting issue related to this patch but no errors. It should have been more protected against an configuration error though.

[2020-01-03 19:27] jonespm commented on #834
I'm working on trying to simplify this configuration

[2020-01-03 19:53] justin0022 commented on #834
Okay let me try, I'll report back.

[2020-01-03 19:55] justin0022 commented on #834
Are there any other env variables I should change? I just changed the `RESOURCE_VALUES` variable, but still getting the TypeError.

[2020-01-03 20:13] jonespm commented on #834
I don't see anything different. I re-wrote the logic a little to make it a little safer and also got rid of the separate RESOURCE_URLS value (folding that into RESOURCE_ACCESS_CONFIG) in #835

[2020-01-03 20:17] jonespm opened #836 "On the resource view, the file names start out okay but move when scrolling"
## Expected behavior (A clear and concise description of what you expected to happen) :
File names should stay in place

## Describe the bug (Tell us what happens instead of the expected behavior) :
When you first view the files page the names appear correct, however after scrolling the display they appear to jump over to overlap. I think this is a recent change.

Tested in Chrome 79 and Firefox.

[2020-01-03 20:22] jonespm commented on #836
I think this is related to the createResourceAccessChart changes on 177816663c337f83740e3a75f3ead15a5c509ca3

[2020-01-03 20:30] jonespm opened #837 "Truncating to 7 characters feels a little short, should make this value larger"
## Expected behavior (A clear and concise description of what you expected to happen) :
The new resources view is truncating to 7 characters with no way to change from https://github.com/tl-its-umich-edu/my-learning-analytics/blob/177816663c337f83740e3a75f3ead15a5c509ca3/assets/src/components/d3/createResourceAccessChart.js#L233

This seems a little short. It looks like file names in Canvas get ab

[2020-01-03 20:37] justin0022 commented on #834
Hmm, strange. I'll try running your PR.

[2020-01-06 16:52] justin0022 commented on #834
I tried building the latest master on my work laptop and it works fine after I change the `env.json` with the new `RESOURCE_VALUES`. I'm still not sure why it wasn't working on my personal laptop (both Macs)... I'll close this now.

[2020-01-06 16:52] #834 closed

[2020-01-07 14:56] pushyamig commented on #836
I am going to tag it to the Winter 2020 project.

[2020-01-07 21:42] #836 closed

[2020-01-07 23:08] justin0022 opened #839 "Grade Correlation Instructor View"
UBC is working on building instructor-facing views. The first view is a grade correlation view that allows instructors to see the correlation of student grades between each graded assignment/quiz/exam.
![Screen Shot 2020-01-07 at 3 02 55 PM](https://user-images.githubusercontent.com/8836578/71936593-cfba4780-315e-11ea-9461-e1f827da49e5.png)
In the above prototype, each dot represents a student, an

[2020-01-10 16:14] zqian commented on #680
The suggestions is to loop through all courses and find the earliest date for those courses.

[2020-01-10 16:37] jennlove-um commented on #751
Needs retesting and more detail about the conditions under which this happens.

[2020-01-10 17:19] ssciolla commented on #383
Because `cron.py` is not set up to update courses individually or incrementally, I don't think it is necessary to implement this feature yet. Right now the cron job will log an error and stop if an invalid ID is found, meaning that no further queries will be made.

https://github.com/tl-its-umich-edu/my-learning-analytics/blob/4163cf2386d975b0b765d9564620f1521a9641d8/dashboard/cron.py#L486-L491

I

[2020-01-10 17:19] #383 closed

[2020-01-10 18:15] ssciolla commented on #680
@zqian, the changes in [this branch](https://github.com/tl-its-umich-edu/my-learning-analytics/compare/master...ssciolla:issue-680-consider-time-in-bq-queries) was what I was suggesting earlier during the meeting.

[2020-01-13 13:48] jonespm commented on #837
I wonder if we'd have to use a fixed width font here for these file names? 23 characters all caps looks like it overlaps at about character 18 now. Also I don't know why we have 4 dots for some of these?

I think we either need to re-open this or still do something to fix this. Fixed width font, reduce the characters a few more or move everything more left. (There seems to be a lot of space in the

[2020-01-13 15:38] ssciolla opened #843 "myla_globals is not available to some templates"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

Pages that use the `base.html` template (most if not all of them) should have access to `myla_globals` since it's referenced there in a a `<sc

[2020-01-13 16:55] ssciolla commented on #821
I have a fix for this in my issue-821-make-primary-color-configurable branch, which I've based on top of my PR #842. You can see the changes from the issue-specific commits [here](https://github.com/ssciolla/my-learning-analytics/compare/issue-485-django-update-final...ssciolla:issue-821-make-primary-color-configurable).

[2020-01-13 17:44] zqian commented on #680
Thanks, @ssciolla

Can we use the aggregate() function in Django to find out the min date value?
https://docs.djangoproject.com/en/dev/topics/db/aggregation/

[2020-01-13 17:48] ssciolla commented on #680
Maybe, I though about using some filtering, but because we're leveraging a custom method, I wasn't sure how that would work.

[2020-01-13 17:50] ssciolla commented on #680
I'll look into your suggestion.

[2020-01-13 17:51] #484 closed

[2020-01-13 18:05] jonespm commented on #787
Here were my comments from #820 on how we might support this

I feel like for this to work as individual variables we'd have to either have a library that does type inference which is going to be a little more work than this (unless there's one out there).

Probably the easier way to fulfill the initial request I'd think is just to use this special ENV called
ENV_JSON

The thing with that is it's

[2020-01-13 18:11] zqian commented on #680
I am thinking of use Course.objects.aggregate(Min(date_start)). See if that works.

[2020-01-13 18:13] ssciolla commented on #680
I don't think we can can do that because not all `Course` objects have a value for `date_start`; that's why we have to use `get_course_date_range` (which also considers `Term` dates). There might be a way to make the method a property and then use something like what you suggested.

[2020-01-13 18:14] zqian commented on #680
Got it. Then the current solution is good.

The next step is how to pass the value into the cron job.

[2020-01-13 18:23] zqian commented on #680
I think we can add another param into the queries inside RESOURCE_ACCESS_CONFIG configuration in [env_sample.json](https://github.com/tl-its-umich-edu/my-learning-analytics/blob/master/config/env_sample.json), and pass in the time value in the update_with_bq_access() function of [cron.py](https://github.com/tl-its-umich-edu/my-learning-analytics/blob/master/dashboard/cron.py)

[2020-01-13 18:39] ssciolla commented on #821
PR #842 has been merged, so I've update the issue branch. You can see the comparison to master [here](https://github.com/tl-its-umich-edu/my-learning-analytics/compare/master...ssciolla:issue-821-make-primary-color-configurable)

[2020-01-15 14:04] #803 closed

[2020-01-15 14:35] #485 closed

[2020-01-15 14:35] #843 closed

[2020-01-16 15:23] jonespm opened #844 "Use Django Stubs for better Django typehints"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added

I think we're going to have to use the [Django Stubs package
](https://github.com/typeddjango/django-stubs) to provide better future type hints for Django. Relates to the work on #301 . We can do this now that we're on 2.2.x after the PR for #840 is merged.

[2020-01-16 20:12] marciamoraes commented on #814
Here is a list of prerequisites to install MyLA on Windows (using VirtualBox).
https://github.com/tl-its-umich-edu/my-learning-analytics/wiki/Prerequisites-for-Installing-MyLA-on-Windows

[2020-01-17 20:51] #821 closed

[2020-01-20 16:33] zqian commented on #680
@ssciolla please see the recent checkins in [my branch](https://github.com/tl-its-umich-edu/my-learning-analytics/compare/master...zqian:issue_680?expand=1). That should work. Please take a look, and it everything looks all right, you can go ahead and checkin from your branch.

[2020-01-20 17:11] ssciolla commented on #680
@zqian, great, I will try this out today. You could submit this as a PR if you wanted?

[2020-01-20 21:22] jennlove-um opened #846 "MyLA help URL in flat pages is not working as expected"
Per pull request #697, the help URL for MyLA can be set up using the flat pages.  I tried adding a flat page to test-myla.tl.it.umich.edu.

Per the detail in the pull request, on the new flat page I set the URL to /help_url/ and entered the content as "https://its.umich.edu/academics-research/teaching-learning/my-learning-analytics" to test going to a different help page.

When I click on help, I

[2020-01-20 22:23] ssciolla commented on #846
Yep, I'm fairly sure this isn't working because it assumes the Help URL entry is coming first. I'm not sure we are using flatpages as intended, but if we want a quick fix and like having it available to change through the Django admin, I think this small fix which I whipped should work:

https://github.com/ssciolla/my-learning-analytics/blob/96dea9677be10b577ed1e411f6425e1cd04a16e5/dashboard/commo

[2020-01-21 15:15] jonespm commented on #846
Yeah, I don't think it makes sense to have the URL defined in the flatpages and #697 wasn't right to begin with. This should just be in the settings if it's a URL. The idea of flatpages it to store simple HTML content in the database for special one off pages. This doesn't make sense a a URL but would make sense if we wanted the entire help *content* in defined here. But I don't think someone woul

[2020-01-21 15:18] ssciolla commented on #846
That makes sense to me. I can make this change.

[2020-01-23 15:11] jennlove-um opened #849 "Instructor page to configure MyLA courses when added as LTI"
For using MyLA as an LTI, the instructor needs a way to manage the configuration of MyLA for the course:

**Business rules/functionality:**

- Instructors can add MyLA to a Canvas course as an LTI when they have the Teacher or Assistant role
- Adding MyLA defaults to enable all three visualizations (Resources Accessed, Assignment Planning, Grade Distribution)
- Instructors can toggle a setting to

[2020-01-23 15:12] jennlove-um commented on #849
For now, I'm assigning this to me to track the nuances that go into setting up a MyLA course to build out the requirements and begin thinking about documentation.

[2020-01-23 16:55] jonespm opened #850 "Make the term in the admin UI uneditable and indicate when it will be updated"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added

The Terms dropdown in the Admin UI can be confusing as it's generally auto-populated by Canvas and shouldn't need to be set. The term is always updated because currently all of the terms are removed from the table during the cron job and reset. Because of this workflow we should just have the term as

[2020-01-23 18:10] jennlove-um commented on #805
The contrast between the blue (selected) and gray (unselected) on the range slider have been changed.  They meet the 3:1 contrast required for graphical elements and user interface components.

[2020-01-23 18:12] jennlove-um commented on #748
The contrast between the gray bar and the black text is now 10:1 using #B5B5B5 for the gray.

[2020-01-23 18:55] #673 closed

[2020-01-23 18:58] #462 closed

[2020-01-23 19:10] ssciolla opened #851 "Show Grade Counts not working in Grade Distribution view"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

When the "Show Grade Counts" option is checked in the Django admin, the numbers should appear on the bars in the histogram in the Grade Distri

[2020-01-23 19:19] justin0022 commented on #839
Idea: allow instructor to select one assignment, and then show graphs for all other assignments, maybe ranked by least to most correlated (or reverse)

[2020-01-23 21:40] #851 closed

[2020-01-27 15:08] johnpj commented on #505
You may want to look in /assets/src/components/d3/createResourceAccessChart.js

line 75:

and line 96:

[2020-01-27 17:58] pushyamig opened #855 "Webpack watcher slow in noticing code changes"
Webpack watcher is great for instant code redeploy when changes are made. I can see a couple of things with the way it is performing
1. Takes a couple of seconds to redeploy not as instantaneous as Backend watcher
2. Sometimes it saturates doesn't recognize change at all and needs a restart the instance to activate it back.
3. `console.log` statements are not recognized most of the time if that's

[2020-01-27 18:05] justin0022 commented on #855
Sometimes, when webpack watcher acts up, I clean my Docker and restart, and then the problem seems to go away. Most of the time it works without issue for me.

Have you tried deleting the files in `assets/dist`? It may be because that directory is getting big.

[2020-01-27 18:19] pushyamig commented on #855
Most of the time I do this too

I did try this approach as well.

but it just feels very annoying when you need the performance when you are working on an issue. In those times I feel if a manual redeploy command is available instead of restart docker.

[2020-01-27 19:28] zqian opened #856 "improve the cron BigQuery statement"
#855 Expected behavior (A clear and concise description of what you expected to happen) :

## Describe the bug (Tell us what happens instead of the expected behavior) :

The long query string for BigQuery could be improved

Matt suggested following in issue #848:
"I think these queries can be simplified in other ways though by pulling the patterns out of them but that's a fix I haven't gotten to y

[2020-01-28 19:42] jennlove-um commented on #751
I am not able to duplicate this.  I'm closing this issue. If it recurs, I'll reopen the issue.

[2020-01-28 19:42] #751 closed

[2020-01-28 20:13] jennlove-um commented on #577
I'm closing this issue for now.  The flickering resolves quickly and doesn't seem to be an impediment for students.

[2020-01-28 20:13] #577 closed

[2020-01-28 20:14] jennlove-um commented on #779
Testing passes in myla-test.  I was able to add a course with an apostrophe in the title and the visualizations displayed correctly.

[2020-01-28 20:23] jennlove-um commented on #693
There are a couple of items still open on this issue:

Adding the icons next to the checkboxes at the top.
Aligning the filters and legend with the Y-axis.

[2020-01-30 15:35] ssciolla commented on #850
I'm confused. Isn't the field read-only already in the admin UI?

https://github.com/tl-its-umich-edu/my-learning-analytics/blob/b167df95c33bf69d2f73d604e9538f26e55fbfbb/dashboard/admin.py#L50-L54

[2020-01-30 16:05] ssciolla opened #857 "Traceback from Grade Distribution view with less than five grades"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

The Grades Distribution view should provide a meaningful result, even when there are no grades or only a couple of them. The Django view shoul

[2020-01-30 16:06] ssciolla commented on #857
@pushyamig and @jennlove-um, have either of you seen this before? Is this something we need to fix for the next release?

[2020-01-30 16:26] pushyamig commented on #857
I think we need to handle this case since binning logging trying to get the first 5 grades. In case of very few grades < 5 then we need to handle it gracefully.

[2020-01-30 16:28] pushyamig commented on #857
@ssciolla  which course were you testing? This bug can happen when No. of student in course are < 4 but I don't we want to enable Grade distribution in that case. Or this bug can also happen when only < 5 grades released with class roster > 5

[2020-01-30 19:17] jennlove-um opened #858 "[Resources Accessed] Remove the brush element and instead use a simple slider"
Replace the brush navigation element with a simple slider to allow students to navigate up and down the list of resources.  It would be better for accessibility.

[2020-01-30 20:24] jennlove-um opened #859 "[Grade Distribution] Change "Number of Students" to "Class Size" in legend on the screen"
The text "Number of Students" in the legend is confusing since that is the same text that is on the Y-axis,

Leave the Y-axis label as Number of Students, but change the text in the legend to be "Class Size" for the total count of students in the course.

[2020-01-30 20:34] jennlove-um commented on #858
![GD_Text_change](https://user-images.githubusercontent.com/39634416/73487936-ef1b4d80-4375-11ea-90df-3d47aa1991b8.png)

[2020-01-31 19:28] #846 closed

[2020-02-03 13:48] #859 closed

[2020-02-03 16:06] ssciolla opened #864 "Course select query includes unnecessary fields"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

In general, we should limit SQL select queries to only the data we need. This may provide slight performance improvements and minimize possibl

[2020-02-03 20:01] jonespm opened #865 "Cron except should be logged as exception"
# Expected behavior (A clear and concise description of what you expected to happen) :

When the cron has an exception we should log this as an exception rather than info, this would print more information. Also I'd like to add the line number and file to the log messages to help track down issues easier

[2020-02-03 20:30] #865 closed

[2020-02-03 21:10] #857 closed

[2020-02-03 22:07] ssciolla commented on #864
Odd, this doesn't seem to happen consistently. The same "error" appeared in recent runs of the cron. It still seems worth trying to minimize data that is logged, but it may be a different issue.

[2020-02-04 14:23] ssciolla commented on #864
I merged my fix about limiting the select query, but let's keep the issue open, since I don't think we've fully diagnosed this problem.

[2020-02-04 18:02] jennlove-um commented on #857
Testing passed: I tested this with a class that has only 2 grades for students.  The Grade Distribution correctly displayed the message "Grade data is not available."

[2020-02-04 18:03] jennlove-um commented on #859
Testing passes: The legend on the Grade Distribution screen correctly displays "Class Size."

[2020-02-04 18:05] jennlove-um commented on #846
@ssciolla Have we configured test to use the new URL for help?

[2020-02-04 18:08] jennlove-um commented on #851
Testing passes: I tested both checking and unchecking the setting.  The display correctly showed the numbers when checked and did not show them when unchecked.

[2020-02-04 18:21] jennlove-um commented on #803
Testing passes: I can tab from one link to the next in the header and see the pulsing light blue outline on the MyLA home and course home links.

[2020-02-04 18:34] jennlove-um commented on #846
Testing passed.  MyLA test was configured with the updated help link. I tested the help from the main page, a course main page, assignment page, resources page, and grade distribution page.  All help links went to the correct help page for the context.

[2020-02-04 18:42] pushyamig commented on #485
Test Case should be written mentioning what all the libraries that got updated based on the Django 2.2 making it easier for testing
Currently, `Pip Freeze` gives me this, But i am not sure if those are compatible version for Django 2.2. I am assuming since application functioning as it supposed( via regression testing) to then we can confirm upgrade successful
[code]

[2020-02-04 18:44] jennlove-um commented on #736
Testing passes: No obvious issues with any screen elements or alignment was detected.

[2020-02-04 18:48] jennlove-um opened #869 "[Resources Accessed] Minor UI improvements"
Feedback from today's MyLA meeting for revising this view:

- [x] Add the icon next to the checkboxes for the files type at the top as well to make it clear which icon is associated with each file type
- [x] Review the fonts on the page to make sure they are all the same (different sizes are fine, but different fonts aren't)

_Originally posted by @jennlove-um in https://github.com/tl-its-umich-ed

[2020-02-04 18:54] jennlove-um commented on #693
I've moved the incomplete items to a new issue: #869

Testing passes for the icon next to the resource name.  The resource name truncates on the screen and hovering over it shows the entire file name.

[2020-02-04 18:58] jennlove-um commented on #806
Testing passes:  The snackbar displays for enough time before fading on its own.  Also, I am able to tab to the snackbar and close it using the keyboard.  I can also use the mouse to close it manually.

[2020-02-04 19:00] jonespm commented on #680
I believe this was fixed on #848

[2020-02-04 19:00] #680 closed

[2020-02-04 19:02] jonespm commented on #864
From what I can see in from the logs it failed because it timed out rather than an error. I created https://github.com/tl-its-umich-edu/openshift-jenkins-configs/issues/22 to better catch that case. It should only catch ERROR (in all caps) and I did test that locally. I don't think "error" in text should trigger this. I feel like if we need another issue to address this that's fine but we should c

[2020-02-04 19:03] #830 closed

[2020-02-04 19:04] #805 closed

[2020-02-04 19:04] #748 closed

[2020-02-04 19:06] jonespm commented on #484
Verified that the cron runs and database access still works as expected

[2020-02-04 19:07] jonespm commented on #843
I'm not seeing any errors in the console log and this seems to be available as expected.

[2020-02-04 19:07] jonespm commented on #829
This is working as expected with the improved cron (confirmed by Unizin)

[2020-02-04 19:09] ssciolla commented on #864
@jonespm, if you created an issue in the OpenShift repo, I think it's fine to make the changes you suggested.

[2020-02-04 19:17] jennlove-um commented on #836
Testing passes: The file names remain correctly aligned when I scroll up and down and resize the window.  I am not able to get them to go out of alignment.

[2020-02-04 19:18] jennlove-um commented on #836
@johnpj Is this the problem you saw in testing today?

[2020-02-04 19:19] jennlove-um commented on #748
Testing passes.

[2020-02-04 19:20] jennlove-um commented on #805
Testing passes.

[2020-02-04 19:22] johnpj commented on #836
@jennlove-um I saw something similar, but only one line was overlapping the adjoining bar chart. It only happend once and I could not reproduce it.

[2020-02-04 19:24] jennlove-um commented on #830
Testing passes: Links display in the same blue in different browsers.  Tested with Firefox and Chrome.

[2020-02-04 19:27] jennlove-um commented on #836
Since neither @johnpj nor I can reproduce this behavior, I'm going to say testing passes for this issue.  If we see the behavior or something similar that we can replicate, I'll open a new issue.

[2020-02-04 21:14] ssciolla opened #870 "When DataFrames from some queries are concatenated, NaT is replaced with None in datetime fields"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

The code that updates the datetime fields in the course table should be able to run without error.

## Describe the bug (Tell us what happens

[2020-02-05 12:43] jonespm commented on #870
Fixed by #871

[2020-02-05 12:43] #870 closed

[2020-02-05 13:20] jonespm commented on #680
I see this working in the query but in the logs it says
`[2020-02-05 07:58:02 -0500] [INFO] [utils.py:20] Earliest start datetime for all courses: 2017-08-01T04:00:00+00:00`

Which looks like the date from the demo course 84541. We probably shouldn't have courses that with a start date that old that are active.

[2020-02-05 13:28] jonespm commented on #752
Another issue could be if a file is deleted, the events for the deleted file will still be pulled and I believe this record would still display on our table. We should clean it up, even though they'll be a delay between when the file is deleted and when the data warehouse is updated.

[2020-02-05 13:29] jonespm opened #872 "Rewrite process for updating resource counts to only consider changes since last run"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added

The method in the cron update_with_bq_access updates all of the records in resource and resource_access based on the earliest start date of a course in the system. This can be an expensive (in time and cost) query and the better process should be

- If the table is empty to a full update, store the d

[2020-02-05 13:33] jonespm commented on #680
I updated the date for that one course to 2020-01-01 but looks like there's still some course with an early start date in there. I think it would have been useful if this log message displayed the course with this date.

`[2020-02-05 08:22:29 -0500] [INFO] [utils.py:20] Earliest start datetime for all courses: 2019-01-06T18:26:00+00:00
`

@jennlove-um Do we need to have courses like this in there

[2020-02-05 13:53] pushyamig commented on #485
All the versions look Good.
@jennlove-um if your regression testing the app feel good then we can resolve this issue

[2020-02-05 13:54] jonespm opened #873 "Find Earliest Start Date Time of course should display course where earliest date found"
## Describe the bug (Tell us what happens instead of the expected behavior) :
In the utils.py the line to log the earliest start date should include the course id that this date was found in to make it easier to track these early courses down.
https://github.com/tl-its-umich-edu/my-learning-analytics/blob/8723b0b79458a42c141f84ec98236820f295d8a8/dashboard/common/utils.py#L20

## Steps to Reproduce

[2020-02-05 14:12] pushyamig commented on #821
When the primary color changes I can see UI pick up the color. We are not configuring color in Myla Test instance just using the default.

[2020-02-05 14:24] jonespm commented on #873
I think to do this we'll have to have a map keeping the course id and the earliest date. Right now it looks like it's just keeping the dates

[2020-02-05 16:00] ssciolla commented on #864
@jonespm, okay, I've updated this issue to reflect what we actually ended up changing.

[2020-02-05 16:06] jonespm commented on #870
I verified that the cron ran after this change. I believe it's good!

[2020-02-05 16:07] jonespm commented on #864
Verified that this works now

[2020-02-05 16:09] #864 closed

[2020-02-05 16:47] ssciolla opened #874 "createHistogram.test.js test fails after recent mylaGlobals changes"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

All frontend tests that are implemented should run successfully and have access to any variables they need, even if they are `null`.

## Descr

[2020-02-05 18:16] justin0022 commented on #855
I'm going to try and improve this. Also hoping the improvements will address: #648.

[2020-02-05 18:21] jennlove-um commented on #680
I don't see any reason that we would need dates that old.  I did a quick review of all the courses in test and prod to verify that.  I agree that this can be improved.  We don't need to get events for courses after they have ended, but we don't want to wipe out those legacy events either.

[2020-02-05 18:24] pushyamig commented on #855
I was reading how to delete the existing bundle before creating a new one. Some suggested using this https://www.npmjs.com/package/clean-webpack-plugin. But I did not get to a point testing it.
I don't know if delete the entire `/dist` folder is a good option since it also deletes the `static` folder that has font needed by material UI

[2020-02-05 18:28] pushyamig commented on #648
In `webpack.config.js` if I do this `devtool: 'inline-source-map'` it creates the resource map but the trick is we need to know if this the build is in dev or prod mode. As it is suggested not to do it for prod mode

[2020-02-05 18:33] justin0022 commented on #648
https://webpack.js.org/configuration/devtool/#production I think there's an option to disable in prod. I'll play around with the options and try to increase build speed.

[2020-02-05 18:57] justin0022 opened #876 "[Redesign assignment] Mouse-over text for graded assignments"
Mouse-over text for graded assignments should include the original goal set by the student (if they set one), the actual grade, and the class average grade along with the rules (if any) on the assignment group.
## Describe the solution you'd like

[2020-02-05 18:58] justin0022 opened #877 "[Redesign assignment] Event logging"
Send the system-generated scores when saving user defaults to Database, this is to support Event logging

[2020-02-05 19:00] justin0022 opened #878 "[Redesign assignmnent] Make goal box error orange, not red"
Need to set this in the theme object.

[2020-02-05 19:01] justin0022 opened #879 "[Redesign assignment] Write more tests (E2E & unit)"
For E2E, look into using https://www.cypress.io/?

[2020-02-05 19:05] justin0022 opened #880 "[Redesign assignment] Current score line bug"
When the student doesn't have a current score, the current scoreline is a little bit off
![Screen Shot 2020-01-29 at 2 11 39 PM](https://user-images.githubusercontent.com/8579775/73389357-fe30cb80-42a1-11ea-854c-03f17d3d0567.png)

[2020-02-05 19:07] justin0022 opened #881 "[Redesign assignment] Weird rounding behaviour"
https://www.youtube.com/watch?v=S2fRNzXuGPs&feature=youtu.be

When lock grade is checked/unchecked, the goal grade changes sometimes.

[2020-02-05 19:08] justin0022 opened #882 "[Redesign assignment] Implement drag/drop for setting goals using react dnd"
Wishlist item: Implement drag/drop for setting goals using react dnd: https://react-dnd.github.io/react-dnd/about

[2020-02-05 19:09] justin0022 opened #883 "[Redesign assignment] Some animations would be nice and improve UI."
Wishlist item: animations for the lines and numbers to make transitions smoother.

[2020-02-05 19:09] justin0022 opened #884 "[Redesign assignment] Handle dropping low grade assignment group rules."
Wishlist item:  Handle dropping low grade assignment group rules.

[2020-02-05 19:40] jennlove-um commented on #485
@pushyamig So far in testing, I have not found any problems.

[2020-02-05 19:46] zqian commented on #874
verified the tests all pass.

![image](https://user-images.githubusercontent.com/359944/73877144-254d4700-4826-11ea-8f5a-c55748dd6e0a.png)

Logged in as root and verified nothing break.

[2020-02-05 19:56] zqian commented on #864
Verified from the log message:

It is now:

select id, canvas_id, enrollment_term_id, name, start_at, conclude_at from course_dim where c.id='...'

vs it was the following select before:

select * from course_dim c where c.id='...'

[2020-02-05 20:01] jennlove-um commented on #837
@pushyamig Testing is okay in myla-test.  Do you want to close this issue with the limited fix in place so far and open a new issue for improvements in the future?

[2020-02-05 20:01] zqian commented on #485
Verified from OpenShift build log file:

Collecting Django<2.2.9.99,>=2.2.9
Downloading Django-2.2.9-py3-none-any.whl (7.5 MB)

[2020-02-05 20:10] pushyamig commented on #837
We will close this issue, I will open another one and put it in winter.02.02

[2020-02-05 20:10] #837 closed

[2020-02-05 22:03] jennlove-um opened #885 "[Home page] Fix responsive issues when student has multiple course tiles"
## Expected behavior (A clear and concise description of what you expected to happen) :
When a student has used MyLA in multiple courses, there is a tile for each course.  The display of the course tiles needs to be responsive so that all tiles still show for varying screen sizes.

## Describe the bug (Tell us what happens instead of the expected behavior) :
Currently, when I log in as a student i

[2020-02-06 14:00] jennlove-um opened #886 "[Resources Accessed] Course showing the percent of students accessing the file as 101"
##  Expected behavior (A clear and concise description of what you expected to happen) :
The percent of students who access the file in a course should never be above 100%.

## Describe the bug (Tell us what happens instead of the expected behavior) :
For one course, I'm seeing two files that show 101% of students in the course accessed the file.

## Steps to Reproduce :
Unclear how to reproduce y

[2020-02-06 14:34] jonespm commented on #886
I rolled back to the 2019.02.x branch and it had the same problem back then so this isn't a new issue.

![image](https://user-images.githubusercontent.com/27447/73946418-e53ca180-48c3-11ea-85c7-f1a9978b014a.png)

[2020-02-06 14:37] jonespm opened #887 "Resource Accessed would be clearer if % on bars"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added

On the resource accessed view there are numbers on the bars but no direct indication what this means. These are percentages (as indicated on the X axis and label) and would probably be better if we had a % sign after the number, like 91%.

![image](https://user-images.githubusercontent.com/27447/7394

[2020-02-06 19:56] #874 closed

[2020-02-06 21:03] jonespm opened #890 "Add favicon to application"
We do have an icon for this tool, we should use this as the favicon so it will be used as an icon in the tabs.

The favicon is a separate issue and should probably be split out. We don't actually have an icon for this tool but that could be created and placed.

To Test, open MyLA, look at the tab. It should be the icon rather than a generic globe.

![image](https://user-images.githubusercontent.co

[2020-02-06 23:11] justin0022 opened #892 "[Redesign Assignment] Too many calls to GraphQL"
This is the graphQL call logs, It make like 20+ call for setting the user defaults and event logs got messed up too

![Screen Shot 2020-02-03 at 8 01 26 AM](https://user-images.githubusercontent.com/8579775/73655242-84129500-465b-11ea-97e1-4cd07e505796.png)

[2020-02-06 23:33] justin0022 commented on #892
I'm not able to recreate the too many calls, but not sure about the event logs.

[2020-02-10 13:23] #890 closed

[2020-02-11 17:14] pushyamig opened #893 "course_enabled url is not fetching any results"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :
The course_enabled url `/api/v1/course_enabled` should fetch result regardless with or without trailing slash

## Describe the bug (Tell us wha

[2020-02-11 18:27] #893 closed

[2020-02-11 18:56] pushyamig commented on #893
Test_plan:
1. Go to canvas test instance for the courses that are enabled Myla
2. Change to student view
3. Links should show up for /assignments, files, grades

[2020-02-11 19:24] pushyamig opened #895 "All the API URL's should include a trailing slash for better fetching data"
The [path](https://docs.djangoproject.com/en/2.2/ref/urls/) function URL pattern should include trailing slash to enable fetching results if API is called with or without trailing slash. According to the documentation that's what is recommended. This was [fixed](https://github.com/tl-its-umich-edu/my-learning-analytics/pull/894) for `course_enabled` URL but need to apply the same pattern to other

[2020-02-11 21:53] vjcao opened #896 "Hamburger Menu Button Focus Ambiguity"
## Describe the bug (Tell us what happens instead of the expected behavior) :
After PR #863, when using the keyboard to navigate the hamburger menu buttons, the currently selected view button looks the same as which button currently has keyboard focus. This introduces some ambiguity to which button has focus in the hamburger menu.

## Screenshots/Video (If possible, add media to help explain your

[2020-02-12 14:42] ssciolla opened #897 "Version ranges in requirements.txt should allow for minor releases from trusted dependencies"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

For trusted and established dependencies, we should use version ranges that allow for minor releases without code changes. Also, versions shou

[2020-02-13 20:59] #897 closed

[2020-02-18 12:34] #785 closed

[2020-02-18 20:05] ssciolla opened #903 "Should we render charts/views when the window size becomes too small?"
Thank you for contributing to this project!

## Describe your problem or feature you'd like added

I was thinking about this as part of my work on #694. Right now there are d3 components in Resources Accessed, Assignment Planning (v1), and Grades Distribution that see substantial visual degradation when the window size becomes too small. Should we not render these charts or the views at all when t

[2020-02-18 20:07] ssciolla commented on #903
Any thoughts on this @jennlove-um or @johnpj?

[2020-02-18 20:13] jonespm commented on #903
What if you can't increase the width of your window, like if you are on mobile? I believe "request desktop site" just changes the user agent rather than the width. Is it possible to have like an overflow-x:auto css to make an area scrollable?

[2020-02-18 20:17] ssciolla commented on #903
It's a good idea, I'd have to do more research on how that works with d3 and SVG.

[2020-02-18 20:56] johnpj commented on #903
When we are at 320 x 568 (typical responsive breakpoint for mobile device in portrait orientation), we should probably hide the timeline in the Assignment Planning view and the top slider to select weeks in the Resources Accessed view.

[2020-02-24 18:18] #886 closed

[2020-02-24 18:18] #887 closed

[2020-02-27 15:13] jonespm commented on #426
This one is also related to #879

[2020-02-27 18:40] ssciolla commented on #694
I have been working on this issue after studying and getting at-least-a-little clued in to `d3`. Right now I have two solutions which have somewhat different behavior.

### Solution 1: Calculate chart and margin sizes using percents, don't adjust font sizes

Code: [issue-694-fix-responsiveness-bug-with-percents](https://github.com/ssciolla/my-learning-analytics/tree/issue-694-fix-responsiveness-bu

[2020-02-27 19:22] jennlove-um commented on #887
@vjcao & @jonespm Could we go back to rounding to whole numbers instead of to one decimal point for this one?  I don't think we need to be any more precise than the whole number. With the addition of the percent sign, having another decimal place makes the information longer than necessary with no real pay off.

[2020-02-27 19:24] jonespm opened #905 "Round resources access to whole numbers instead of to one decimal point"
@vjcao & @jonespm Could we go back to rounding to whole numbers instead of to one decimal point for this one?  I don't think we need to be any more precise than the whole number. With the addition of the percent sign, having another decimal place makes the information longer than necessary with no real pay off.

_Originally posted by @jennlove-um in https://github.com/tl-its-umich-edu/my-learning-

[2020-02-27 20:11] ssciolla commented on #694
Seems like the researchers prefer having the font sizes of text stay fixed or at least at a more legible size, i.e. Solution 1. I'll proceed under that assumption.

[2020-02-27 20:38] jennlove-um commented on #858
@ssciolla Here's the updated version related to the discussion today.

[2020-02-28 16:49] mcrwong opened #906 "Text does not fit inside new assignment planning goal box"
## Expected behavior (A clear and concise description of what you expected to happen) :
![working_text](https://user-images.githubusercontent.com/6541192/75567625-d5763000-5a1f-11ea-8e7d-11f8c82ce4b7.png)

The text should fit inside the box properly as seen above.

## Describe the bug (Tell us what happens instead of the expected behavior) :
![not_working_text](https://user-images.githubuserconten

[2020-02-28 17:02] justin0022 commented on #906
@jennlove-um should we modifying the wording for this? `Math may no longer add up` is not that clear anyway.

[2020-02-28 20:51] jonespm commented on #905
Were you looking at this one @vjcao ? I *think* it should only involve a simple change in the views.py in resource_access_within_week but haven't looked into it yet.

[2020-02-28 21:27] vjcao opened #907 "Keyboard Focus Behavior on IndexPage Buttons is Clunky and Redundant"
## Expected behavior (A clear and concise description of what you expected to happen) :
Tabbing on the index page of a class should smoothly traverse the buttons on the page.
## Describe the bug (Tell us what happens instead of the expected behavior) :
Currently, each button has two keyboard focusable elements forcing the user to tab twice to move to the next button
## Steps to Reproduce :
1. Clic

[2020-02-28 22:05] vjcao commented on #905
@jonespm I wasn't sure if you were going to work on it so I unassigned myself. I can do it if you want.

[2020-03-09 17:45] #895 closed

[2020-03-09 17:55] ssciolla commented on #719
@lsloan, we talked about updating 5. under "Logging in as administrator" so that it doesn't reference specific course ids but just gives instructions on finding and viewing the course via the Admin. This is to eliminate the need to repeatedly update time-related information.

[2020-03-09 18:12] ssciolla commented on #505
Today we discussed that truncating the resource label names based on the available horizontal space is in scope for this issue. This work follows up on work on issues #837 and #854.

[2020-03-09 18:15] #905 closed

[2020-03-09 18:43] lsloan opened #913 "reverse resource view scrolling direction"
### Expected behavior

Resource view scrolling should follow same direction as page scrolling.

### Describe the bug

The action to scroll the resource view is currently the opposite of that to scroll the page.

### Steps to Reproduce

1. Try scrolling a long web page.
1. Try scrolling the resource view.
1. Notice the different action required.

### Environment:

* **OS**: macOS 10.14.5
* **Browse

[2020-03-09 22:35] #885 closed

[2020-03-10 13:27] lsloan commented on #890
@jonespm when I run MyLA locally from the master branch, I see the favicon when I load the user pages.  However, when I use the admin interface, I do not.  It would be nice to have the favicon appear for those pages as well.  Like you said, it helps the MyLA tabs stand out in the browser, which is important to admins, too.

[2020-03-10 13:53] jonespm commented on #890
Thanks for testing, I didn't even think about the admin, it looks like that has to have a separate fix. I can create a new issue for that as it will be some additional work on top of this.

[2020-03-10 13:54] jonespm opened #914 "Add favicon for Django Admin Pages"
@jonespm when I run MyLA locally from the master branch, I see the favicon when I load the user pages.  However, when I use the admin interface, I do not.  It would be nice to have the favicon appear for those pages as well.  Like you said, it helps the MyLA tabs stand out in the browser, which is important to admins, too.

_Originally posted by @lsloan in https://github.com/tl-its-umich-edu/my-le

[2020-03-10 13:54] jonespm commented on #914
I looks like [the suggestions here](https://stackoverflow.com/questions/34959897/set-favicon-in-django-admin)  might be the way to fix this if anyone wants to try it out.

[2020-03-11 19:25] jonespm commented on #873
To test this:

* Have at least 2 courses with different terms

* Look at the logs after running the cron you should see a line like
`[2020-03-11 14:48:25 -0400] [INFO] [utils.py:18] Earliest start datetime for all courses: 2020-01-08T01:55:00+00:00 found in course 123456`

This should match the earliest course. Some courses may have the same term (and thus same start date) this is fine.

[2020-03-11 21:37] #873 closed

[2020-03-11 21:46] justin0022 opened #916 "Small x-axis overflow bug"
## Describe the bug (Tell us what happens instead of the expected behavior) :
To the right of the screen, there's overflow a couple of pixels, which is causing the x-axis scroll bar to display.
![Screen Shot 2020-03-11 at 2 44 16 PM](https://user-images.githubusercontent.com/8836578/76467465-eb340f80-63a6-11ea-8a07-b4c47e35d6c5.png)

May have been introduced in: https://github.com/tl-its-umich-edu

[2020-03-12 15:18] pushyamig opened #918 "Cron fails when same resource is used in separate courses"
Thank you for contributing to this project!

- Make sure to search the [issues](https://github.com/tl-its-umich-edu/my-learning-analytics/issues) for duplicates first!

## Expected behavior (A clear and concise description of what you expected to happen) :

## Describe the bug (Tell us what happens instead of the expected behavior) :
Cron is failing when accessing resources data( like lecture vide

[2020-03-12 20:43] #918 closed

[2020-03-13 13:40] vjcao opened #921 "Clunky CourseList Keyboard Navigation Behavior"
Same bug as issue #907 but on the `CourseList` element.

[2020-03-13 17:27] pushyamig commented on #918
Test plan:
The `resource ` table is now modified to take auto-increment id and instead of resource id as a primary key that way after each insert into DB table has the unique key is not dependent on resource id. This will work well in cases when instructor uses same Resource with same id in 2 different course

1.  For courses with the Leccapture tool, uses same resource in 2 different course secti

[2020-03-18 16:05] #916 closed

[2020-04-01 20:16] jennlove-um commented on #918
The lecture capture recording shows up correctly in both courses.

[2020-04-03 14:19] yuandrew commented on #907
Hi, I would like to take a cack at this issue if no one else is currently working on it!

[2020-04-03 14:41] vjcao commented on #907
@yuandrew I already have a pull request open for this issue. Thank you for your interest in this project!

[2020-04-03 14:46] yuandrew commented on #913
Hi, I would like to work on this issue!

[2020-04-10 19:16] yuandrew commented on #913
I'm trying to reproduce the bug, but I'm having issues getting the resource view list to load. When I go to the resources page for a course, I get a grey pulsing circle. Any suggestions on getting resources to load? I've already tried run the demo_init.sh script to see if that helped load the data.

<img width="1238" alt="Screen Shot 2020-04-10 at 3 03 25 PM" src="https://user-images.githubusercon

[2020-04-10 19:26] jonespm commented on #913
Were you using the SQL file from Step 9 in the Installation? You currently need to load the database with this data.

[2020-04-10 19:52] yuandrew commented on #913
Yes, I'm pretty sure I've set up the SQL database correctly, I've queried into it to get the list of available courses, as well as created a new user. The "assignment planning" and "grade distribution" pages both populate with data, I'm just having issues with the resource page for some reason.

[2020-04-10 20:57] zqian commented on #913
@yuandrew is there any error message from docker log or browser console window?

[2020-04-13 22:53] yuandrew commented on #913
Yeah, it looks like I'm getting 500 error for trying to send the API a GET request

GET http://localhost:5001/api/v1/courses/362855/resource_access_within_week/?week_num_start=1&week_num_end=9&grade=90-100&resource_type=Files 500 (Internal Server Error)

Also not sure if this is significant, but one of my docker containers has exited
![image](https://user-images.githubusercontent.com/25187103/7916

[2020-04-17 18:10] vjcao commented on #913
Hi @yuandrew, I ran into the same issue as you when using the latest sample data, `myla_test_data_2020_03_11.sql`. After using `myla_test_data_1_16_20.sql` in the outdated sample folder in the [google drive](https://drive.google.com/drive/u/0/folders/1ILnY3ejEbNU9IM5wBj_UPuLN6dgvZNcn), the issue seems to be resolved.